<template>
	<div>
		<VFlex>
			<VDialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<VBtn v-on="on" @click="dialog = true" color="primary" dark class="mb-2">
						Legg til kategori
					</VBtn>
				</template>
				<VCard>
					<VCardTitle>
						<span class="headline">Ny kategori</span>
					</VCardTitle>
					<VCardText>
						<VForm ref="form">
							<VFlex xs12>
								<VTextField
									v-model="name"
									:rules="[rules.isRequired]"
									box
									name="name"
									label="navn"
									required
									@keydown.enter.prevent="postForm"
								/>
							</VFlex>
							<VBtn
								@click="postForm"
								color="secondary"
								large
								light
								class="black--text text-uppercase"
							>
								{{ editing ? 'Lagre' : 'Legg til kategori' }}
							</VBtn>
						</VForm>
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
		<VFlex>
			<VDataTable :headers="headers" :items="categories" class="elevation-1">
				<template v-slot:items="props">
					<td>
						{{ props.item.name }}
					</td>
					<td>
						{{ props.item.deletedAt !== null }}
					</td>
					<td class="justify-center">
						<VIcon @click="showEditDialog(props.item)" small class="mr-2">
							fa fa-pencil
						</VIcon>
						<VIcon v-if="props.item.deletedAt === null" @click="removeCategory(props.item)" small>
							fa fa-trash
						</VIcon>
						<VIcon v-if="props.item.deletedAt !== null" @click="restoreCategory(props.item)" small>
							fa fa-trash-restore
						</VIcon>
					</td>
				</template>
			</VDataTable>
		</VFlex>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({
		layout: 'admin',
		apollo: {
			categories: gql`{ categories(includeDeactivated: true) { id name deletedAt } }`
		}
	})
	export default class Categories extends Vue {
		$refs!: {
			form: any
		}
		id: string = ''
		name: string = ''
		dialog = false
		editing = false
		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required'
		}

		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Deactivated',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]

		postForm() {
			this.editing ? this.editCategory() : this.addCategory()
		}

		async addCategory() {
			if (this.$refs.form.validate()) {
				this.dialog = false
				await this.$apollo.mutate({
					mutation: gql`mutation ($name: String!){
						createCategory(name: $name) {
							id
						}
					}`,
					variables: {
						id: this.id,
						name: this.name,
					}
				})
				this.dialog = false
				this.$refs.form.reset()
				this.$apollo.queries.categories.refetch()
			}
		}

		showEditDialog(item) {
			this.dialog = true
			this.editing = true
			this.id = item.id
			this.name = item.name
		}

		async editCategory() {
			if (this.$refs.form.validate()) {
				await this.$apollo.mutate({
					mutation: gql`mutation ($id: String!, $name: String!){
					updateCategory(id: $id, name: $name) {
						id
					}
				}`,
					variables: {
						id: this.id,
						name: this.name,
					}
				})
				this.dialog = false
				this.editing = false
				this.$refs.form.reset()
				this.$apollo.queries.categories.refetch()
			}
		}

		async removeCategory(item) {
			await this.$apollo.mutate({
				mutation: gql`mutation ($id: String!){
					deleteCategory(id: $id) {
						id
					}
				}`,
				variables: {
					id: item.id
				}
			})
			this.$apollo.queries.categories.refetch()
		}

		async restoreCategory(item) {
			await this.$apollo.mutate({
				mutation: gql`mutation ($id: String!){
					restoreCategory(id: $id) {
						id
					}
				}`,
				variables: {
					id: item.id
				}
			})
			this.$apollo.queries.categories.refetch()
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
