<template>
	<div>
		<CreateSchool :dialog.sync="createDialog" :submit.sync="submit" class="mb-2" />
		<EditSchool :dialog.sync="editDialog" :school.sync="school" :submit.sync="submit" />
		<VDataTable :headers="headers" :items="schools" class="elevation-1">
			<template v-slot:items="props">
				<td>
					{{ props.item.name }}
				</td>
				<td class="text-xs-right">
					{{ props.item.campuses.length }}
				</td>
				<td class="text-xs-right">
					{{ props.item.emailSuffixes.length }}
				</td>
				<td class="text-xs-right">
					{{ props.item.fieldsOfStudies.length }}
				</td>
				<td class="text-xs-right">
					{{ props.item.students.length }}
				</td>
				<td class="text-xs-right">
					{{ props.item.deletedAt !== null }}
				</td>
				<td class="justify-center">
					<VIcon @click="editSchool(props.item)" small class="mr-2">
						fa fa-pencil
					</VIcon>
					<VIcon v-if="props.item.deletedAt == null" @click="deactivateSchool(props.item)" small>
						fa fa-trash
					</VIcon>
					<VIcon v-if="props.item.deletedAt != null" @click="activateSchool(props.item)" small>
						fa fa-trash-restore-alt
					</VIcon>
				</td>
			</template>
		</VDataTable>
	</div>
</template>

<script lang="ts">
	import { Component, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CreateSchool from '@/components/admin/CreateSchool.vue'
	import EditSchool from '@/components/admin/EditSchool.vue'

	@Component({
		components: { EditSchool, CreateSchool },
		layout: 'admin',
		apollo: {
			schools: {
				query: gql`{
					schools {
						id
						name
						campuses {
							id
							name
							address
							deletedAt
						}
						students {
							id
						}
						emailSuffixes {
							suffix
						}
						fieldsOfStudies {
							id
							name
							deletedAt
						}
						deletedAt
					}
				}`
			}
		}
	})
	export default class Schools extends Vue {
		dialog = false
		createDialog = false
		editDialog = false
		submit = false
		school = {}
		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Campuses',
				align: 'center',
				sortable: false,
				value: 'id'
			},
			{
				text: 'Email suffixes',
				align: 'center',
				sortable: false,
				value: 'id'
			},
			{
				text: 'Field of studies',
				align: 'center',
				sortable: false,
				value: 'id'
			},
			{
				text: 'Students',
				align: 'center',
				sortable: false,
				value: 'id'
			},
			{
				text: 'Deactivated',
				sortable: false,
				value: 'id'
			},
			{ text: 'Actions', value: 'name', sortable: false }
		]

		editSchool(school) {
			this.editDialog = true
			this.school = school
		}

		async deactivateSchool(school) {
			confirm(`Are you sure you want to deactivate ${school.name}?`) &&
			await this.$apollo.mutate({
				mutation: gql`mutation deactivateSchool($id: String!){
						deactivateSchool(id: $id) {
							id
						}
					}`,
				variables: {
					id: school.id
				}
			})
			this.$apollo.queries.schools.refetch()
		}

		async activateSchool(school) {
			confirm(`Are you sure you want to restore ${school.name}?`) &&
			await this.$apollo.mutate({
				mutation: gql`mutation activateSchool($id: String!){
						activateSchool(id: $id) {
							id
						}
					}`,
				variables: {
					id: school.id
				}
			})
			this.$apollo.queries.schools.refetch()
		}

		@Watch('createDialog')
		createDialogFetch() {
			if (!this.createDialog) this.$apollo.queries.schools.refetch()
		}

		@Watch('editDialog')
		editDialogFetch() {
			if (!this.editDialog) this.$apollo.queries.schools.refetch()
		}
	}
</script>
