<template>
	<div>
		<VFlex>
			<VDialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<VBtn v-on="on" @click="dialog = true" color="primary" dark class="mb-2">
						Legg til tag
					</VBtn>
				</template>
				<VCard>
					<VCardTitle>
						<span class="headline">Ny tag</span>
					</VCardTitle>
					<VCardText>
						<VForm ref="form">
							<VFlex xs12>
								<VTextField
									v-model="tag"
									:rules="[rules.isRequired]"
									box
									name="tag"
									label="tag"
									required
									@keydown.enter.prevent="postForm"
								/>
							</VFlex>
							<VBtn
								@click="postForm"
								color="secondary"
								large
								light
								class="black--text text-uppercase"
							>
								{{ editing ? 'Lagre' : 'Legg til tag' }}
							</VBtn>
						</VForm>
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
		<VFlex>
			<VDataTable :headers="headers" :items="tags" class="elevation-1">
				<template v-slot:items="props">
					<td>
						{{ props.item.tag }}
					</td>
					<td>
						{{ props.item.deletedAt !== null }}
					</td>
					<td class="justify-center">
						<VIcon @click="showEditDialog(props.item)" small class="mr-2">
							fa fa-pencil
						</VIcon>
						<VIcon v-if="props.item.deletedAt === null" @click="removeTag(props.item)" small>
							fa fa-trash
						</VIcon>
						<VIcon v-if="props.item.deletedAt !== null" @click="restoreTag(props.item)" small>
							fa fa-trash-restore
						</VIcon>
					</td>
				</template>
			</VDataTable>
		</VFlex>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({
		layout: 'admin',
		apollo: {
			tags: gql`{ tags(includeDeactivated: true) { id tag deletedAt } }`
		}
	})
	export default class Tags extends Vue {
		$refs!: {
			form: any
		}
		id: string = ''
		tag: string = ''
		dialog = false
		editing = false
		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required'
		}

		headers = [
			{
				text: 'Tag',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Deactivated',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]

		postForm() {
			this.editing ? this.editTag() : this.addTag()
		}

		async addTag() {
			if (this.$refs.form.validate()) {
				this.dialog = false
				await this.$apollo.mutate({
					mutation: gql`mutation ($tag: String!){
						createTag(tag: $tag) {
							id
						}
					}`,
					variables: {
						id: this.id,
						tag: this.tag,
					}
				})
				this.dialog = false
				this.$refs.form.reset()
				this.$apollo.queries.tags.refetch()
			}
		}

		showEditDialog(item) {
			this.dialog = true
			this.editing = true
			this.id = item.id
			this.tag = item.tag
		}

		async editTag() {
			if (this.$refs.form.validate()) {
				await this.$apollo.mutate({
					mutation: gql`mutation ($id: String!, $tag: String!){
					updateTag(id: $id, tag: $tag) {
						id
					}
				}`,
					variables: {
						id: this.id,
						tag: this.tag,
					}
				})
				this.dialog = false
				this.editing = false
				this.$refs.form.reset()
				this.$apollo.queries.tags.refetch()
			}
		}

		async removeTag(item) {
			await this.$apollo.mutate({
				mutation: gql`mutation ($id: String!){
					deleteTag(id: $id) {
						id
					}
				}`,
				variables: {
					id: item.id
				}
			})
			this.$apollo.queries.tags.refetch()
		}

		async restoreTag(item) {
			await this.$apollo.mutate({
				mutation: gql`mutation ($id: String!){
					restoreTag(id: $id) {
						id
					}
				}`,
				variables: {
					id: item.id
				}
			})
			this.$apollo.queries.tags.refetch()
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
