<template>
	<VLayout :class="[landscape ? 'row wrap justify-space-between' : 'column wrap']">
		<VFlex :class="[landscape ? 'xs12 sm6 mx-1' : 'xs12']" :style="{'max-width': variableWidth }">
			<h2 v-if="landscape" class="mb-3">
				{{ $t('appointments') }}
			</h2>
			<VDatePicker
				v-model="date"
				:reactive="reactive"
				:events="appointmentsNotifications"
				@input="checkDate"
				class="date-picker"
				full-width
				no-title
				show-current
				event-color="#00838F"
				color="#00838F"
				header-color="#00838F"
			/>
		</VFlex>

		<VFlex :class="[landscape ? 'xs12 sm5 mx-1' : 'xs12']" class="appointment-container">
			<h3 :class="[!landscape && 'mt-5']" class="appointment-date">
				{{ selectedDate }}
			</h3>
			<VLayout
				v-for="appointment in appointmentFromDate"
				:key="appointment.id"
				:class="[!landscape && 'my-4', olderDate && 'disabled-post']"
				row
				wrap
				class="appointment-content my-3"
			>
				<div class="field-of-study-indicator" />
				<VFlex xs9 class="appointment-info pl-4 py-2">
					<h2>{{ appointment.assistanceOffer.post.title }}</h2>
					<div class="information d-inline-flex align-content-center mb-3">
						<VIcon small class="mr-1">
							fas fa-map-marker-alt
						</VIcon>
						<span class="appointment-location-name">{{ appointment.location.name }}</span>
					</div>
					<div>
						{{ `Kl. ${appointmentTime(appointment.date)}` }}
					</div>
				</VFlex>
				<VFlex xs3 class="user-info text-xs-center py-2">
					<VAvatar>
						<VImg :src="appointment.assistanceOffer.helper.profile.imageLink" />
					</VAvatar>
					<h4>{{ `${appointment.assistanceOffer.helper.profile.firstname} ${appointment.assistanceOffer.helper.profile.lastname}` }}</h4>
				</VFlex>
			</VLayout>
		</VFlex>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import { vxm } from '@/store'
	import spacetime from 'spacetime'

	@Component({
		apollo: {
			appointments: {
				query: gql`query($userIds: [String!]!, $date: DateTime) {
					appointments(userIds: $userIds, date: $date){
						id
						date
						location {
							id
							name
						}
						assistanceOffer {
							id
							post {
								title
							}
							helper {
								profile {
									firstname
									lastname
									imageLink
								}
							}
						}
					}
				}`,
				variables() {
					return {
						userIds: [vxm.user.me.id],
						date: this.date.date
					}
				}
			}
		}
	})
	export default class Calendar extends Vue {
		appointments!: any[]
		@Prop({ type: Boolean, default: false }) landscape!: boolean
		date: string = new Date().toISOString().slice(0, 10).toString()
		dateNow: string = new Date().toISOString().slice(0, 10).toString()
		reactive= false
		dates: any[] = []
		olderDate: boolean = false
		$vuetify: any

		get appointmentFromDate() {
			if (this.appointments !== undefined) {
				return this.appointments.filter(e => {
					this.dates.push(e.date.toString().split('T')[0])
					return e.date.toString().split('T')[0] === this.date
				})
			}
			return []
		}
		get variableWidth() {
			switch (this.$vuetify.breakpoint.name) {
				case 'sm': return '350px'
				case 'md': return '450px'
				case 'lg': return '550px'
				case 'xl': return '800px'
			}
		}

		get selectedDate() {
			// prepend day of week
			return spacetime(this.date, 'utc').goto('Europe/Oslo').unixFmt('dd.MM.YY')
		}

		get pastDueDate() {
			return this.date
		}

		appointmentTime(date) {
			return spacetime(date, 'utc').goto('Europe/Oslo').unixFmt('HH:mm')
		}

		appointmentsNotifications(val) {
			return this.dates.indexOf(val) !== -1
		}
		checkDate() {
			this.olderDate = new Date(this.date) < new Date(this.dateNow)
		}
	}
</script>

<style lang="sass" scoped>
	.date-picker
		box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.4)
		border-radius: 10px
		overflow: hidden
	.appointment-container
		border-radius: 10px
		position: relative
	.information
		display: flex
		justify-content: center
		align-items: center
	.appointment-content
		background: #FFF
		box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.4)
		border-radius: 10px
		position: relative
	.appointment-location-name
		font-size: 15px
	.user-info
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	.field-of-study-indicator
		background: pink
		position: absolute
		left: 0
		height: 100%
		width: 10px
		border-radius: 10px 0 0 10px
	.appointment-date
		color: $primary
	.disabled-post
		opacity: 0.6
		z-index: -1
</style>
