<template>
	<VLayout wrap>
		<VFlex xs12 class="text-xs-right">
			<VDialog
				v-model="syncDialog"
				:fullscreen="$vuetify.breakpoint.xsOnly"
				width="600"
				scrollable
				persistent
			>
				<template v-slot:activator="{ on }">
					<VBtn
						v-bind="on"
						@click="syncDialog = true"
						color="#FFEB3B"
						class="black--text create-post-dialog__create-btn mx-0"
						flat
						light
					>
						{{ $t('create_post') }}
					</VBtn>
				</template>
				<VCard>
					<VCardTitle class="primary pr-5">
						<VDialog
							v-model="confirmationDialog"
							persistent
							width="600"
						>
							<VToolbarSideIcon slot="activator" :dialog="syncDialog" class="text-xs-center">
								<VIcon color="white">
									fas fa-times
								</VIcon>
							</VToolbarSideIcon>
							<VCard max-width="600">
								<VCardTitle class="headline">
									{{ $t('exit_popup') }}
								</VCardTitle>
								<VCardText>{{ $t('exit_popup_text_dialog') }}</VCardText>
								<VCardActions>
									<VSpacer />
									<VBtn @click="confirmationDialog = false" color="primary" flat>
										{{ $t('disagree') }}
									</VBtn>
									<VBtn @click="confirmationDialog = false, syncDialog = false" color="primary" flat>
										{{ $t('agree') }}
									</VBtn>
								</VCardActions>
							</VCard>
						</VDialog>

						<VSpacer />
						<VToolbarTitle class="white--text mr-5">
							{{ $t('new_post') }}
						</VToolbarTitle>
						<VSpacer />
					</VCardTitle>
					<VCardText class="pa-0">
						<PostCreation v-if="syncDialog" :dialog.sync="syncDialog" @created="updatePosts" />
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import PostCreation from '@/components/PostCreation.vue'
	import CustomSwitchUtil from '@/components/utils/CustomSwitchUtil.vue'
	import { PropSync } from '@/utils/PropSync'
	@Component({
		components: { CustomSwitchUtil, PostCreation }
	})
	export default class CreatePostDialog extends Vue {
		@PropSync({ type: Boolean, required: true }) syncDialog!: boolean

		persistent = true

		confirmationDialog: boolean = false
		activeFilter: boolean = true

		toggleActiveFilter() {
			this.activeFilter = !this.activeFilter
		}

		updatePosts() {
			this.$emit('created')
		}
	}
</script>

<style lang="sass" scoped>
	.create-post-dialog
		&__create-btn
			border-radius: 20px
			height: 40px
			font-weight: 900
			letter-spacing: 0.8px
			-webkit-box-shadow: 0px 0px 53px -15px rgba(23,23,23,1)
			-moz-box-shadow: 0px 0px 53px -15px rgba(23,23,23,1)
			box-shadow: 0px 0px 53px -15px rgba(23,23,23,1)
			background: $accent
			max-width: 350px
			color: #000!important

</style>
