<template>
	<VContainer class="main-container pa-0">
		<VContainer fluid class="pa-0">
			<VLayout d-flex justify-space-between row>
				<VFlex
					xs5
					sm12
				>
					<FeedFilterOptions
						class="filter-options"
						:selected-categories.sync="syncSelectedCategories"
						:selected-place.sync="syncSelectedPlace"
						:width="130"
					/>
				</VFlex>
				<VFlex
					xs5
					sm12
					class="d-flex align-content-end justify-end"
				>
					<VSelect
						v-model="sortValuesBy"
						:items="sortedValues"
						:menu-props="{ maxHeight: '400' }"
						@change="filterBy"
						color="primary"
						light
						background-color="sort-values"
						class="sort pa-0"
						:placeholder="$t('sort')"
						hide-details
						single-line
						dark
					/>
				</VFlex>
			</VLayout>
		</VContainer>

		<VContainer flex class="card-container pa-0">
			<VLayout row wrap>
				<VFlex
					v-for="post in posts"
					:key="post.id"
					xs12
					class="px-3"
				>
					<PostCard :post="post" />
					<!--<FeedCard :card-data="post" class="feed-card mx-0" @click.native="selectPost(post.id)" /> -->
				</VFlex>
			</VLayout>
		</VContainer>
		<SinglePostView :dialog.sync="showPost" :card-items="selectedPost" @sendAssistanceOffer="sendAssistanceOffer" />
	</VContainer>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import FeedCard from '@/components/FeedCard.vue'
	import CustomSwitchUtil from '@/components/utils/CustomSwitchUtil.vue'
	import CreatePostDialog from '@/components/CreatePostDialog.vue'
	import NavBar from '@/components/NavBar.vue'
	import { PropSync } from '@/utils/PropSync'
	import FeedFilterOptions from '@/components/FeedFilterOptions.vue'
	import SinglePostView from '@/components/SinglePostView.vue'
	import PostCard from '@/components/PostCard.vue'

	@Component({ components: { PostCard, SinglePostView, FeedFilterOptions, CustomSwitchUtil, CreatePostDialog, FeedCard, NavBar } })
	export default class Feed extends Vue {
		@Prop({ type: Array, required: true }) posts!: any[]
		@PropSync({ type: Array }) syncSelectedCategories!: string[]
		@PropSync({ type: Array }) syncSelectedPlace!: string[]
		sortedValues: string[] = ['Name Asc', 'Name Desc']
		sortValuesBy: string = ''
		selectedPostId: string|null = null

		get selectedPost() {
			return this.posts.find(post => post.id === this.selectedPostId)
		}

		get showPost() {
			return this.selectedPostId !== null
		}
		set showPost(value) {
			if (!value) {
				this.selectedPostId = null
			}
		}

		selectPost(id) {
			this.selectedPostId = id
		}

		filterBy() {
			this.posts = this.posts.sort((a, b) => a.title < b.title ? -1 : a.title === b.title ? 0 : 1)
			if (this.sortValuesBy === 'Name Desc') this.posts = this.posts.reverse()
		}

		sendAssistanceOffer(payload) {
			this.$emit('sendAssistanceOffer', payload)
		}
	}

</script>

<style scoped lang="sass">
	.main-container
		.card-container
			overflow-y: auto
		.card
			margin: 20px 20px
			@media screen and (max-width: 445px)
				margin: 20px auto
		.card-container::-webkit-scrollbar
			display: none
		.sort
			max-width: 130px
		.filter
			float: left
			max-width: 100px
		.avatar-container
			bottom: 60px
			position: relative
		.v-avatar
			position: absolute
			right: 5px
		.v-input
			@media screen and (max-width: 445px)
				font-size: 13px
		.card-container-headline
			font-weight: bold
			font-size: 28px
		.category-selection
			margin: 10px 10px
			background-color: red
			width: 20%
			font-size: 13px
			word-wrap: break-word
		.v-icon
			justify-content: start
			max-width: 20%
			font-size: 30px
		.problem-description-layout
			width: 150px
		.problem-description-title
			text-align: left
			font-size: 20px
			font-weight: 500
		.problem-description-subtitle
			text-align: left
			font-size: 15px
			color: dimgrey
		.feed-card
			margin-top: 100px
</style>
