<template>
	<VMenu
		v-model="showOptions"
		:close-on-content-click="false"
		:nudge-width="200"
		offset-y
	>
		<template v-slot:activator="{ on }">
			<VChip
				v-on="on"
				text-color="white"
				color="#005461"
				fab
				class="activator-button"
			>
				<span class="body-2">Filter</span>
				<VIcon size="15px" class="ml-2">
					far fa-sliders-h
				</VIcon>
			</VChip>
		</template>
		<VCard>
			<VLayout align-start justify-space-between row fill-height>
				<VFlex xs4>
					<h3 class="ma-4">
						{{ $t('category') }}
					</h3>
					<VLayout v-for="category in categories" :key="category.id" class="ml-2">
						<VCheckbox
							v-model="syncSelectedCategories"
							:label="category.name"
							:value="category.id"
							class="ma-1"
							hide-details
						/>
					</VLayout>
				</VFlex>
				<VFlex x4 class="ml-4">
					<h3 class="ma-4">
						{{ $t('place') }}
					</h3>
					<VLayout v-for="place in campuses" :key="place.id" class="ml-2">
						<VCheckbox
							v-model="syncSelectedPlace"
							:label="place.name"
							:value="place.id"
							class="ma-1"
							hide-details
						/>
					</VLayout>
				</VFlex>
				<VIcon
					@click="showOptions = !showOptions"
					class="ma-4"
				>
					fal fa-times
				</VIcon>
			</VLayout>
			<div class="text-xs-right pb-2 pr-2">
				<VBtn
					@click="resetCheckboxes"
					primary
					class="white--text"
					color="#005461"
				>
					{{ $t('reset') }}
				</VBtn>
			</div>
		</VCard>
	</VMenu>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import { PropSync } from '@/utils/PropSync'
	import { vxm } from '@/store'

	@Component({
		apollo: {
			categories: gql`{ categories(includeDeactivated: false){ id name } }`
		}
	})
	export default class FeedFilterOptions extends Vue {
		@PropSync({ type: Array }) syncSelectedCategories!: string[]
		@PropSync({ type: Array }) syncSelectedPlace!: string[]
		@Prop({ type: Number }) width!:number
		showOptions: boolean = false

		get campuses() {
			return vxm.user.me.school.campuses
		}

		get buttonWidth() {
			return this.width + 'px'
		}

		resetCheckboxes() {
			this.syncSelectedCategories = []
			this.syncSelectedPlace = []
		}
	}
</script>

<style lang="sass" scoped>
	.card
		position: absolute
	.filter-button-chip
		display: flex
		justify-content: center
	.activator-button
		min-width: 135px

</style>
