<template>
	<VCard
		class="card-wrapper"
		min-height="350px"
	>
		<div class="feed-card__container-image">
			<VImg
				:src="image"
				height="200px"
				class="feed-card__container-image--img"
			>
				<VChip
					color="primary"
					class="ml-0 mb-2 image-chip white--text"
					small
					label
				>
					<span class="text-uppercase">{{ category }}</span>
				</VChip>
			</VImg>
		</div>

		<div class="feed-card__container-text">
			<h2 class="pt-2 pb-0 mb-0 text-xs-left title-text">
				{{ title }}
			</h2>
			<VLayout class="location-container ma-0 pa-0">
				<VIcon
					color="#1D4D58"
					size="15px"
					class="marker"
				>
					fal fa-map-marker-alt
				</VIcon>
				<span class="location-text">{{ location.name }}</span>
			</VLayout>
			<p class="description-text">
				{{ description }}
			</p>
		</div>

		<div class="feed-card__container-information pa-0">
			<VLayout align-center>
				<slot>
					<VFlex class="feed-card__container-information--user-info" xs8>
						<VAvatar size="55px">
							<img
								:src="profileImg"
								alt="avatar"
							>
						</VAvatar>
						<div class="ml-3">
							<h4>{{ cardData.user.profile.firstname + ' ' + cardData.user.profile.lastname }}</h4>
							<span class="user-info-shcool">{{ cardData.user.school.name }} • {{ $t('studyYear.' + cardData.user.profile.currentYear) }}</span>
						</div>
					</VFlex>
				</slot>
				<VFlex
					xs4
					class="text-xs-center ml-5"
					shrink
				>
					<div class="d-inline-flex feed-card__container-information__warning--container align-items-center justify-center">
						<VIcon color="error" small class="mb-1">
							far fa-stopwatch
						</VIcon>
						<div class="feed-card__container-information__warning--text mx-2 text text-uppercase d-block">
							{{ $t('deadline') }}
						</div>
					</div>
					<div>
						<div class="font-weight-medium d-block text-capitalize">
							{{ expirationDate }}
						</div>
					</div>
				</VFlex>
			</VLayout>
		</div>
	</VCard>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import spacetime from 'spacetime'
	import PostOffer from '@/components/PostOffers.vue'
	import { PropSync } from '@/utils/PropSync'
	import SinglePostView from '@/components/SinglePostView.vue'
	@Component({
		components: { SinglePostView, PostOffer }
	})
	export default class FeedCard extends Vue {
		@PropSync({ type: Boolean }) syncDisplayHelpOffers!: number
		@Prop({ type: Object, required: true }) cardData!: {[key: string]: any}
		@Prop({ type: Boolean, required: false }) ownPostPage!: boolean

		get location() {
			return this.cardData.location
		}

		get title() {
			return this.cardData.title
		}

		get category() {
			return this.cardData.category.name
		}

		get image() {
			return 'http://localhost:8080/' + this.cardData.imageLink
		}
		get profileImg() {
			return this.cardData.user.profile.imageLink
		}
		get expirationDate() {
			return spacetime(this.cardData.deadline, 'utc').goto('Europe/Oslo').unixFmt('dd.MM.YY • HH:mm')
		}
		get description() {
			return this.cardData.content
		}
	}
</script>

<style scoped lang="sass">
	.text
		color: $error
	.left-text
		text-align: left
	.feed-card
		&__container-image
			bottom: 80px
			width: 90%
			margin: auto
			position: relative
			&--img
				border-radius: 2px
				box-shadow: 5px 5px 9px -4px rgba(209,209,209,1)
		&__container-text
			width: 90%
			margin: auto
			position: relative
			bottom: 65px
		&__container-information
			width: 90%
			margin: auto
			bottom: 30px
			position: relative
			&__warning
				&--container
					align-items: center
				&--text
					font-size: 1rem
					font-weight: 900
			&--user-info
				display: flex
				width: 80%
				justify-content: flex-start
				align-items: center

		.card-wrapper
			box-shadow: 0 13px 17px -4px rgba(209,209,209,1)
			margin: 20px
	.image-chip
		margin: 10px
		position: absolute
		border-radius: 7px
		right: 0
		span
			font-weight: bold
			font-size: 0.9rem
			letter-spacing: 0.5px

	.user-info-shcool
		font-weight: bold
		font-size: 0.8rem
		color: grey
	h2
		font-family: Roboto, sans-serif
		font-size: 24px
		text-align: center
		letter-spacing: 0.8px

	.location-text
		font-size: 1rem
		font-weight: 500
		color: $primary

	.location-container
		width: 100px

	.marker
		margin-top: 2px
		margin-right: 5px
		height: 10px

	.title-text
		letter-spacing: 0
		font-size: 1.5rem

	.description-text
		margin-top: 10px
		margin-bottom: 0
		font-size: 1rem

</style>
