<template>
	<VBtn
		@click="pickFile"
		dark
		large
		color="accent"
		class="black--text text-uppercase"
	>
		<input
			ref="image"
			@change="onFilePicked"
			type="file"
			style="display: none"
			accept="image/*"
		>
		<VIcon class="mr-3">
			far fa-images
		</VIcon>
		{{ $t('Upload image') }}
	</VBtn>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'

	@Component
	export default class FilePicker extends Vue {
		$refs!: {
			image: any,
		}
		@PropSync({ type: String }) syncSelectedImage!: string
		@PropSync() syncFile!: any

		imageName: string = ''

		pickFile() {
			this.$refs.image.click()
		}

		onFilePicked(e: any) {
			const files = e.target.files
			if (files[0] !== undefined) {
				this.imageName = files[0].name
				if (this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					if (fr.result != null) {
						this.syncSelectedImage = fr.result.toLocaleString()
						this.syncFile = files[0] // this is an image file that can be sent to server...
					}
				})
			} else {
				this.imageName = ''
				this.syncFile = ''
				this.syncSelectedImage = ''
			}
		}
	}
</script>

<style scoped lang="sass">
	.image-select-overlay
		background: rgba(0, 0, 0, .06)
</style>
