<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { CreateElement } from 'vue'
	import LogoWhite from '../../public/Connect_hvit.svg'

	@Component({
		components: {
			LogoWhite
		}
	})
	export default class Logo extends Vue {
		@Prop({ type: Boolean, default: false }) white!: boolean
		@Prop({ type: [Number, String], default: null }) height!: number | null

		render(h: CreateElement) {
			return h(LogoWhite, {
				class: this.white ? 'logo-white' : '',
				style: {
					height: this.height
				}
			})
		}
	}
</script>

<style scoped lang="sass">
	.logo-white
		.cls-1
			fill: #fff
</style>
