<template>
	<div class="navbar">
		<VToolbar
			class="navbar__toolbar"
			color="primary"
			dark
			fixed
			flat
			app
			:height="isMobile ? 80 : 100"
			:extension-height="5"
		>
			<VToolbarSideIcon @click="drawer = !drawer" class="hidden-md-and-up" />
			<VFlex shrink :style="[$vuetify.breakpoint.smAndDown && {'margin':'auto'}]">
				<RouterLink
					to="/dashboard"
				>
					<Logo white :height="logoHeight" />
				</RouterLink>
			</VFlex>

			<VSpacer class="hidden-sm-and-down" />

			<VToolbarItems class="hidden-sm-and-down">
				<VMenu bottom offset-y>
					<template v-slot:activator="{ on }">
						<VBtn v-on="on" flat small>
							<UserBadge :user="user" align-right no-sub-title />
						</VBtn>
					</template>
					<VList>
						<VListTile @click="profile">
							<VListTileTitle>{{ $t('profile') }}</VListTileTitle>
						</VListTile>
						<VListTile @click="logout">
							<VListTileTitle>{{ $t('log_out') }}</VListTileTitle>
						</VListTile>
					</VList>
				</VMenu>
			</VToolbarItems>
			<template v-slot:extension>
				<VProgressLinear
					v-show="loading"
					class="my-0"
					:indeterminate="loading"
					height="5"
					color="accent"
				/>
			</template>
		</VToolbar>
		<NavBarDrawer :drawer.sync="drawer" />
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import NavBarDrawer from '@/components/NavBarDrawer.vue'
	import { vxm } from '@/store'
	import Logo from '@/components/Logo.vue'
	import router from '@/router'
	import UserBadge from '@/components/user/UserBadge.vue'

	@Component({
		components: { UserBadge, NavBarDrawer, Logo }
	})
	export default class NavBar extends Vue {
		drawer: boolean = false
		right: any = null
		isMobile: boolean = false
		profileImage: string = ''

		get user() {
			return vxm.user.me
		}

		get schoolInfo() {
			return this.user.fieldOfStudy.name + ' • ' + this.$t('studyYear.' + this.user.profile.currentYear)
		}

		get fullName() {
			return `${this.user.profile.firstname} ${this.user.profile.lastname}`
		}

		get logoHeight() {
			return this.isMobile ? '50' : '80'
		}

		get loading() {
			return this.$apollo.loading
		}

		mounted() {
			this.onResize()
			this.profileImage = `http://localhost:8080/${this.user.profile.imageLink}`
			window.addEventListener('resize', this.onResize, { passive: true })
		}

		onResize() {
			this.isMobile = window.innerWidth < 600
		}

		profile() {
			router.push('/profile')
		}

		logout() {
			vxm.auth.logout()
		}
	}
</script>

<style lang="sass">
	.navbar
		&__toolbar
			justify-content: space-between
		&__search-box-container
			align-items: center
			display: flex
			&__search-box
				max-width: 500px
				border-radius: 10px
		&__information
			&__user-info
				display: flex
				justify-content: flex-start
				align-items: center
				justify-content: flex-end
		.v-tabs
			border-bottom: 1px solid grey
		.ni--active-tab
			opacity: 1
			filter: brightness(3)
		.v-toolbar__extension
			padding: 0
		.v-navigation-drawer--temporary:not(.v-navigation-drawer--close)
			background-color: #00838f
			color: white
	.v-toolbar__content
		justify-content: space-between!important
</style>
