<template>
	<VLayout>
		<VNavigationDrawer
			v-model="syncDrawer"
			:mini-variant="mini"
			absolute
			temporary
		>
			<VList>
				<VListTile v-if="mini" @click.stop="mini = !mini">
					<VListTileAction />
				</VListTile>

				<VListTile avatar @click="profile" tag="div">
					<VListTileAvatar>
						<VImg :src="profileImage" alt="avatar" />
					</VListTileAvatar>

					<VListTileContent>
						<VListTileTitle>{{ fullName }}</VListTileTitle>
					</VListTileContent>

					<VListTileAction>
						<VBtn @click.stop="mini = !mini" icon />
					</VListTileAction>
				</VListTile>
			</VList>
			<VList class="pt-0" dense>
				<VDivider light />

				<VListTile
					v-for="item in navBarElements"
					:key="item.title"
					:to="item.url"
				>
					<VListTileAction>
						<VIcon>{{ item.icon }}</VIcon>
					</VListTileAction>

					<VListTileContent>
						<VListTileTitle>{{ item.title }}</VListTileTitle>
					</VListTileContent>
				</VListTile>

				<VDivider light />

				<VListTile @click="logout">
					<VListTileTitle>{{ $t('log_out') }}</VListTileTitle>
				</VListTile>
			</VList>
		</VNavigationDrawer>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import router from '@/router'
	import { vxm } from '@/store'
	import { PropSync } from '@/utils/PropSync'

	@Component
	export default class NavBarDrawer extends Vue {
		@PropSync({ type: Boolean, required: true }) syncDrawer!: boolean
		navBarElements: any[] = [
			{ icon: 'fas fa-home', url: '/dashboard', title: 'Hjem' },
			{ icon: 'fas fa-newspaper', url: '/myposts', title: 'Mine innlegg' },
			{ icon: 'fas fa-comment', url: '/chat', title: 'Chat' },
		]
		mini: any = false

		profileImage: string = ''

		get user() {
			return vxm.user.me
		}

		get schoolInfo() {
			return this.user.fieldOfStudy.name + ' • ' + this.$t('studyYear.' + this.user.profile.currentYear)
		}

		get fullName() {
			return `${this.user.profile.firstname} ${this.user.profile.lastname}`
		}

		mounted() {
			this.profileImage = `http://localhost:8080/${this.user.profile.imageLink}`
		}

		profile() {
			router.push('/profile')
		}

		logout() {
			vxm.auth.logout()
		}
	}
</script>

<style lang="sass" scoped>

</style>
