<template>
	<div>
		<VCard
			v-for="offer in offers"
			:key="offer.id"
			min-width="300px"
			max-width="500px"
			class="mt-3"
		>
			<VCardTitle class="offercard-title">
				<VLayout>
					<VAvatar class="mr-3">
						<VImg :src="offer.helper.profile.imageLink" alt="avatar" />
					</VAvatar>
					<VLayout column>
						<p class="postoffer-name">
							{{ offer.helper.profile.firstname }} {{ offer.helper.profile.lastname }}
						</p>
						<p class="postoffer-info">
							{{ offer.helper.profile.fieldOfStudy }} {{ offer.helper.profile.currentYear }}
						</p>
					</VLayout>
				</VLayout>
			</VCardTitle>
			<p class="postoffer-description text-xs-center mt-3">
				{{ offer.description }}
			</p>
			<VLayout justify-center>
				<VBtn
					color="#FFEB3B"
					class="text-uppercase black--text mb-4 accept-request-button font-weight-bold"
				>
					<span @click="acceptOffer(offer.id)" class="offer-button-text">Godta Forespørselen</span>
				</VBtn>
			</VLayout>
		</VCard>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'

	@Component
	export default class PostOffer extends Vue {
		@Prop({ type: Array, required: true }) helpOffers!: []

		get offers() {
			// @ts-ignore
			return this.helpOffers.filter(offer => !offer.accepted)
		}

		async acceptOffer(assistanceOfferId: string) {
			try {
				const response = await this.$apollo.mutate({
					mutation: gql`mutation($offerId: String!) {
						conversationId: acceptAssistanceOffer(id: $offerId)
					}`,
					variables: {
						offerId: assistanceOfferId
					}
				})
				this.$router.push({
					name: 'conversation',
					params: {
						conversationId: response.data.conversationId
					}
				})
			} catch (e) {
			}
		}
	}
</script>

<style lang="sass" scoped>
	.offercard-title
		background-color: $accent

		.postoffer-name
			font-size: 1.2rem
			font-weight: bold
			margin: 4px 0 0 0

		.postoffer-info
			font-size: 0.8rem
			margin: 0

		.postoffer-description
			padding: 15px 10px 10px 10px
			font-size: 1.1rem
			font-weight: 500

		.delete-request-button
			height: 45px
			border-radius: 5px

		.accept-request-button
			height: 45px
			border-radius: 5px
</style>
