<template>
	<VCard
		class="post ma-3 elevation-4"
		min-height="350px"
		max-width="600px"
	>
		<VImg
			class="post__image elevation-6"
			:src="image"
			max-height="200px"
			aspect-ratio="2.26"
		>
			<VChip
				class="post__category_chip"
				color="primary"
				small
				label
			>
				<span class="text-uppercase">{{ category }}</span>
			</VChip>
		</VImg>
		<VCardTitle>
			<div>
				<div class="headline">
					{{ title }}
				</div>
				<span class="third--text font-weight-bold">
					<VIcon small color="third">
						fas fa-map-marker-alt
					</VIcon>
					{{ location.name }}
				</span>
			</div>
		</VCardTitle>
		<VCardText class="py-0">
			{{ description }}
		</VCardText>
		<VCardActions class="card-post-and-user-information">
			<slot name="bottom">
				<VFlex grow>
					<UserBadge dense short-year :user="post.user" />
				</VFlex>
			</slot>
			<VFlex
				class="text-xs-center"
				xs
				shrink
			>
				<span class="d-block text-uppercase red--text font-weight-bold">{{ $t('expiry') }}</span>
				<span class="d-block font-weight-bold text-no-wrap">{{ expiryRelative }} &bull; {{ expiryTime }}</span>
			</VFlex>
		</VCardActions>
	</VCard>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { Post } from '../../../backend/src/entities/Post'
	import spacetime from 'spacetime'
	import UserBadge from '@/components/user/UserBadge.vue'

	@Component({
		components: { UserBadge }
	})
	export default class PostCard extends Vue {
		@Prop({ type: Object }) post!: Post

		get location() {
			return this.post.location
		}

		get title() {
			return this.post.title
		}

		get description() {
			return this.post.content
		}

		get category() {
			return this.post.category.name
		}

		get image() {
			return this.post.imageLink
		}

		get profileImg() {
			return this.post.user.profile.imageLink
		}

		get expiryRelative() {
			const days = spacetime.now().diff(spacetime(this.post.deadline, 'utc'), 'day')
			// @ts-ignore
			const rtf = new Intl.RelativeTimeFormat(this.$i18n.locale, { numeric: 'auto' })
			const string = rtf.format(days, 'days')
			return string[0].toUpperCase() + string.slice(1)
		}

		get expiryTime() {
			return spacetime(this.post.deadline, 'utc').goto('Europe/Oslo').unixFmt('HH:MM')
		}

		get expirationDate() {
			return spacetime(this.post.deadline, 'utc').goto('Europe/Oslo').unixFmt('dd.MM.YY • HH:mm')
		}

		get authorName() {
			return this.post.user.profile.firstname + ' ' + this.post.user.profile.lastname
		}
	}
</script>

<style scoped lang="sass">
	.card-post-and-user-information
		flex-direction: row
		flex-wrap: wrap

	.post
		position: relative
		margin-top: 3rem !important
		padding: 2rem
			top: 0
		&__image
			top: -1rem
			box-shadow: 5px 5px 9px -4px #717171

		&__category_chip
			position: absolute
			margin: 1rem
			right: 0
			border-radius: .5rem
			color: $white
</style>
