<template>
	<VLayout column class="white">
		<VForm ref="form">
			<VImg :src="selectedImage" height="250">
				<VLayout justify-center align-center class="fill-height">
					<FilePicker :selected-image.sync="selectedImage" :file.sync="file" />
				</VLayout>
			</VImg>
			<div class="px-4">
				<VFlex my-2>
					<VSelect
						v-model="category"
						:items="categories"
						:label="$t('Category')"
						item-text="name"
						item-value="id"
						hide-details
						background-color="create-post-input"
						box
						outline
						class="my-3"
					/>
					<VSelect
						v-model="campusId"
						:items="campuses"
						:label="$t('Meeting point')"
						item-text="name"
						background-color="create-post-input"
						item-value="id"
						class="my-3"
						hide-details
						outline
						box
					/>
					<VTextField
						v-model="title"
						:label="$t('Title')"
						hide-details
						class="my-3"
						background-color="create-post-input"
						outline
						single-line
					/>
					<div>
						<span class="text">Legg inn en kort, beskrivende tittel</span>
					</div>
				</VFlex>

				<VLayout my-2 d-flex class="align-center">
					<VFlex xs4>
						<span class="subheading font-weight-bold">Sett tidsfrist</span>
					</VFlex>
					<VFlex xs4>
						<DialogWrapper
							:return-value.sync="date"
							width="500"
						>
							<VTextField
								slot="activator"
								v-model="currentDate"
								hide-details
								background-color="create-post-input"
								single-line
								outline
								prepend-inner-icon="far fa-calendar"
							/>
							<VDatePicker
								v-model="date"
								color="#00838F"
								slot-scope="{close, save}"
								no-title
								scrollable
								full-width
							>
								<VSpacer />
								<VBtn @click="close" flat color="primary">
									{{ $t('cancel') }}
									Cancel
								</VBtn>
								<VBtn @click="save(date)" flat color="primary">
									OK
								</VBtn>
							</VDatePicker>
						</DialogWrapper>
					</VFlex>
					<VFlex xs4>
						<DialogWrapper
							:return-value.sync="time"
							width="500"
						>
							<VTextField
								slot="activator"
								v-model="time"
								hide-details
								background-color="create-post-input"
								class="mx-2 d-flex justify-space-around text-field"
								single-line
								outline
								prepend-inner-icon="far fa-clock"
							/>
							<VTimePicker
								v-model="time"
								color="#00838F"
								slot-scope="{close, save}"
								format="24hr"
								full-width
							>
								<VSpacer />
								<VBtn @click="close" flat color="primary">
									{{ $t('cancel') }}
								</VBtn>
								<VBtn @click="save(time)" flat color="primary">
									OK
								</VBtn>
							</VTimePicker>
						</DialogWrapper>
					</VFlex>
				</VLayout>

				<VFlex>
					<VTextarea
						v-model="content"
						outline
						background-color="create-post-input"
						placeholder="Beskrivelse"
						height="80"
						single-line
					/>
					<SkillSelector :color="'create-post-input'" :skill-list.sync="tags" :selected-skills.sync="selectedSkills" />
				</VFlex>
				<VLayout justify-center class="mb-3">
					<VBtn
						@click="createPost"
						color="accent"
						large
						light
						round
						class="black--text text-uppercase"
					>
						{{ $t('Opprett') }}
					</VBtn>
				</VLayout>
			</div>
		</VForm>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import DialogWrapper from '@/components/utils/DialogWrapper.vue'
	import { vxm } from '@/store'
	import { PropSync } from '@/utils/PropSync'
	import { ApiService } from '@/services/api.service'
	import FilePicker from '@/components/FilePicker.vue'
	import SkillSelector from '@/components/SkillSelector.vue'
	import spacetime from 'spacetime'

	@Component({
		components: { SkillSelector, DialogWrapper, FilePicker },
		apollo: {
			me: {
				query: gql`{ me { school { id } } }`
			},
			categories: {
				query: gql`{ categories(includeDeactivated: false) { id name deletedAt } }`
			},
			tags: {
				query: gql`{ tags(includeDeactivated: false) { id tag } }`
			},
			campuses: {
				query: gql`query($schoolId: String!) { campuses(schoolId: $schoolId) { id name } }`,
				variables() {
					return { schoolId: this.me.school.id }
				},
				skip() {
					return this.me === undefined
				}
			}
		}
	})
	export default class PostCreation extends Vue {
		$refs!: {
			image: any,
			form: any
		}
		@PropSync({ type: Boolean, required: true }) syncDialog!: boolean

		title: string = ''
		campusId: string = ''
		content: string = ''
		file: any = ''
		selectedImage: string = ''
		category: string = ''
		notification: boolean = false
		date = spacetime.now().unixFmt('YYYY-MM-dd') as string
		time = spacetime.now().unixFmt('HH:mm')
		selectedSkills: string[] = []

		get currentDate() {
			const date = this.date !== null ? spacetime(this.date) : spacetime.now()
			return date.isSame(spacetime.now(), 'day') ? this.$t('Today') : date.unixFmt('dd.MM.YY')
		}

		async createPost() {
			if (this.$refs.form.validate()) {
				const formData = new FormData()
				formData.append('file', this.file)
				const filePath = await ApiService.customRequest({
					method: 'post',
					url: '/api/v1/upload',
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					data: formData
				})
				this.$apollo.mutate({
					mutation: gql`mutation(
							$title: String!,
							$content: String!,
							$deadline: DateTime!,
							$location: String!,
							$imageLink: String!,
							$categoryId: String!,
							$tagIds: [String!]!){
						createPost(title: $title, message: $content, deadline: $deadline, imageLink: $imageLink, location: $location, categoryId: $categoryId, tagIds: $tagIds) {
							id
							title
							content
						}
					}`,
					variables: {
						userId: vxm.auth.userId,
						title: this.title,
						content: this.content,
						imageLink: filePath.data.path,
						deadline: Date.parse(`${spacetime(this.date).unixFmt('YYYY-MM-dd')}T${this.time}`),
						location: this.campusId,
						categoryId: this.category,
						tagIds: this.selectedSkills
					}
				}).then((response: any) => {
					this.$router.push('/myposts')
					this.$emit('created')
					this.syncDialog = false
				})
			}
		}
	}
</script>

<style scoped lang="sass">
	.image-select-overlay
		background: rgba(0, 0, 0, .06)
</style>
