<template>
	<div>
		<!-- placeholder -->
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class ShowCard extends Vue {

	}
</script>

<style scoped lang="sass">

</style>
