<template>
	<div class="sidebar mr-2">
		<RouterLink
			tag="div"
			v-for="(tab, index) in allowedTabs"
			:key="index"
			:to="tab.url"
			active-class="active"
			class="side-menu d-block py-2 text-xs-center"
		>
			<div class="items-container my-3">
				<VBadge :value="tab.badge > 0" color="red">
					<template v-slot:badge>
						<span>{{ tab.badge }}</span>
					</template>

					<VIcon class="icon">
						{{ tab.icon }}
					</VIcon>
				</VBadge>
				<p>{{ tab.name }}</p>
			</div>
			<div class="active-line" />
		</RouterLink>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import router from '@/router'
	import { vxm } from '@/store'

	@Component
	export default class SideBar extends Vue {
		@Prop({ type: Array }) links!: any[]
		activeIndex = 0
		get defaultTabs(): any[] {
			return [
				{ icon: 'fas fa-home', url: '/dashboard', name: 'Hjem', role: ['USER', 'ADMIN'] },
				{ icon: 'fas fa-newspaper', url: '/myposts', name: 'Mine innlegg', role: ['USER', 'ADMIN'] },
				{ icon: 'fas fa-comment', url: '/chat', name: 'Chat', badge: vxm.chat.unreadMessages, role: ['USER', 'ADMIN'] },
				{ icon: 'fas fa-user', url: '/admin/schools', name: 'Admin', role: ['ADMIN'] },
			]
		}

		get tabs() {
			return this.links || this.defaultTabs
		}

		get allowedTabs() {
			return this.tabs.filter(tab => tab.role.includes(vxm.user.me.role))
		}
	}
</script>

<style lang="sass" scoped>
	.sidebar
		width: 150px
		height: 100%
		background: #fff
		box-shadow: 3px 3px 8px -2px rgba(163,163,163,1)
		flex-shrink: 0

	.side-menu
		color: $primary
		cursor: pointer
		position: relative

	.icon
		color: $primary

	.active
		background: #fbfbfb
		color: #66acb9

		.icon
			color: #66acb9

		.active-line
			cursor: pointer
			position: absolute
			width: 2px
			height: 100%
			background: #66acb9
			right: 0
			top: 0
</style>
