<template>
	<div class="text-xs-center">
		<VDialog
			v-model="syncDialog"
			width="800"
			class="dialog"
		>
			<VCard ref="dialog" class="card" v-if="syncDialog">
				<VImg :height="200" :src="post.imageLink" class="card-image">
					<VBtn
						@click="syncDialog = false"
						class="my-3"
						absolute
						solo
						icon
						right
						color="white"
					>
						<VIcon color="primary">
							fas fa-times
						</VIcon>
					</VBtn>
				</VImg>
				<VLayout class="pa-4">
					<VFlex xs4 class="no-shrink">
						<UserBadge :user="post.user" no-student-year />
						<h6 class="title font-weight-bold error--text text-uppercase mt-3">
							{{ $t('deadline') }}
						</h6>
						<span class="grey--text text--darken-2 title font-weight-medium">
							<span class="d-block my-1">{{ deadlineDate }}</span>
							<span class="d-block my-1">{{ deadlineTime }}</span>
						</span>
						<h3 class="mt-3 header">
							{{ $t('location') }}
						</h3>
						<div>{{ post.location.name }}</div>
						<h3 class="mt-3 header">
							{{ $t('desired_skills') }}
						</h3>
						<div>
							<VChip v-for="tag in post.tags" :key="tag.id" disabled text-color="black">
								{{ tag.tag }}
							</VChip>
						</div>
					</VFlex>

					<VLayout xs8 column>
						<h2 class="px-3">
							{{ post.title }}
						</h2>
						<VCardText>
							{{ post.content }}
						</VCardText>
						<VSpacer />
						<VBtn
							@click="revealOfferField"
							class="help-btn ma-4 align-self-end"
							round
							flat
							solo
						>
							{{ $t('help') }}
						</VBtn>
					</VLayout>
				</VLayout>

				<VLayout v-if="wantToHelp" column wrap class="accept-request-container pt-4 text-xs-center">
					<VFlex xs12 class="accept-explanation-container">
						<h3>{{ $t('thanks_for_offer') }}</h3>
					</VFlex>
					<VFlex
						xs12
						class="px-5"
					>
						<VTextarea
							background-color="#FFF"
							solo
							hide-details
							flat
							:placeholder="$t('i_can_help_you')"
							v-model="message"
						/>
						<VBtn class="offer-help-btn my-4" flat @click="sendRequest">
							{{ $t('offer_help') }}
						</VBtn>
					</VFlex>
				</VLayout>
				<VLayout v-if="offerSent || post.assistanceOffers.length > 0" column wrap class="pt-4 text-xs-center">
					<VFlex class="text--darken-2 title font-weight-medium">
						<span class="text-color">{{ $t('offer_sent') }}</span>
						<VIcon color="primary" class="pl-2">
							fas fa-check-circle
						</VIcon>
					</VFlex>
					<VFlex xs12 class="px-5 pa-3">
						<span class="title font-weight-medium">{{ $t('offer_accepted', { name: post.user.profile.firstname }) }}</span>
					</VFlex>
				</VLayout>
			</VCard>
		</VDialog>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'
	import spacetime from 'spacetime'
	import { Post } from '../../../backend/src/entities/Post'
	import UserBadge from '@/components/user/UserBadge.vue'
	@Component({
		components: { UserBadge }
	})
	export default class SinglePostDialog extends Vue {
		$refs!: {
			dialog: any
		}
		@PropSync({ type: Boolean, default: false }) syncDialog! : Boolean
		@Prop({ type: Object }) post! : Post
		wantToHelp:boolean = false
		offerSent:boolean = false
		message: string = ''

		get deadlineDate() {
			return spacetime(this.post.deadline, 'utc').goto('Europe/Oslo').unixFmt('dd.MM.YY')
		}

		get deadlineTime() {
			return spacetime(this.post.deadline, 'utc').goto('Europe/Oslo').unixFmt('HH:MM')
		}

		revealOfferField() {
			this.wantToHelp = true
			this.$nextTick(() => {
				const container = this.$refs.dialog.$el.parentElement
				container.scrollTop = container.scrollHeight
			})
		}

		sendRequest() {
			if (this.message.trim() !== '') {
				this.$emit('sendAssistanceOffer', {
					postId: this.post.id,
					message: this.message
				})

				this.wantToHelp = false
				this.offerSent = true
			}
		}
	}
</script>

<style lang="sass" scoped>
	.card
		border-radius: 10px
	.text-color
		color: $primary
	.dialog
		position: relative
		filter: blur(10px)
	.header
		color: $info
	.header-danger
		color: $error
		text-transform: uppercase
	.help-btn
		background: $accent
	.accept-request-container
		background: lightgray
	.accept-explanation-container
		text-align: center
		position: relative
	.offer-help-btn
		background: $accent
	.card
		overflow: -moz-scrollbars-none!important
		::-webkit-scrollbar
			width: 0px
		::-webkit-scrollbar-track-piece
			background-color: transparent

</style>
