<template>
	<VAutocomplete
		v-model="syncSelectedSkills"
		:items="syncSkillList"
		item-value="id"
		item-text="tag"
		box
		color="#4DAEBB"
		:label="$t('skills')"
		multiple
		chips
		search-input
		:hint="$t('skills_hint')"
		persistent-hint
		:background-color="background"
	>
		<template v-slot:selection="props">
			<VChip
				color="#FFEB3B"
				text-color="black"
				class="chip--select-multi"
				close
				@input="remove(props.item)"
			>
				{{ props.item.tag }}
			</VChip>
		</template>
		<template v-slot:item="data">
			<VListTileContent>
				{{ data.item.tag }}
			</VListTileContent>
		</template>
	</VAutocomplete>
</template>

<script lang="ts">
	import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'

	@Component
	export default class SkillSelector extends Vue {
		@PropSync({ type: Array }) syncSkillList!: any[]
		@PropSync({ type: Array }) syncSelectedSkills!: string[]
		@Prop({ type: String }) color!: string

		get background() {
			return this.color || ''
		}

		remove(item) {
			const index = this.syncSelectedSkills.indexOf(item.id)
			if (index > 0) this.syncSelectedSkills.splice(index, 1)
		}
	}
</script>

<style lang="sass" scoped>

	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-left: 5px
			&:hover
				cursor: pointer

</style>
