@import "variables"
@import "typography"
@import "vuetify-overrides"
@import "flex"
$fa-font-path: "/webfonts"
@import "~@fortawesome/fontawesome-pro/scss/fontawesome"
@import "~@fortawesome/fontawesome-pro/scss/brands"
@import "~@fortawesome/fontawesome-pro/scss/regular"
@import "~@fortawesome/fontawesome-pro/scss/light"
@import "~@fortawesome/fontawesome-pro/scss/solid"

.v-input
	.v-input__prepend-inner
		margin-right: 12px
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 19px

.v-select
	&__selections
		input::placeholder
			color: #FFF!important
			font-weight: 500
			text-transform: uppercase
			font-size: 13px

.v-input__slot
	padding: 0 15px 0 15px
.sort-values
	background: -webkit-linear-gradient(to right, #00838f, #61a8b5)!important
	background: linear-gradient(to right, #00838f, #61a8b5)!important
	padding: 0 5px 0 10px!important
	border-radius: 20px!important
	width: 150px

.theme--light.application
	background: none
.v-select__selection
	max-width: 100%!important
.v-chip__content
	width: 100%!important
.v-date-picker-header .v-btn
	color: $primary !important
.theme--light.v-date-picker-header .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) button:not(:hover):not(:focus)
	color: $primary
.create-post-input
	border: 2px solid #4DAEBB!important
	border-radius: 4px!important
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.05)!important

.d-contents
	display: contents

.radius-1
	border-radius: 4px

.radius-2
	border-radius: 8px

.radius-3
	border-radius: 12px

.sign-in-email
	border-radius: 4px!important
.sign-in-password
	border-radius: 4px!important
.v-input__slot.sign-in-password:before,
.v-input__slot.sign-in-password:after,
.v-input__slot.sign-in-email:before,
.v-input__slot.sign-in-email:after,
.v-input__slot.sort-values:before,
.v-input__slot.sort-values:after
	border: none!important

