

h1, h2, h3, h4, h5, h6, p
	font-family: 'Roboto', sans-serif


h1


h2
	font-weight: 700
	font-size: 2rem

h3
	font-weight: 700
	font-size: 1.5rem

h4

h5

h6

p
	font-weight: 400
	font-size: 1.2rem
