<template>
	<div />
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class ChatConversation extends Vue {

	}
</script>

<style lang="sass" scoped>

</style>
