<template>
	<div>
		<div
			class="layout chat-container__users-container__msg-info-container"
		>
			<div class="flex text-xs-center xs3">
				<VAvatar>
					<img src="https://randomuser.me/api/portraits/men/85.jpg" alt="avatar">
				</VAvatar>
				<h5>{{ $t('chat_name') }}</h5>
			</div>
			<div class="flex xs7 chat-container__users-container__msg-information">
				<h4>{{ $t('chat_username') }}</h4>
				<p class="ma-0">
					{{ chat.lastMessage }}
				</p>
			</div>
			<div class="flex xs3 chat-container__users-container__msg-information">
				<div class="align-self-center">
					{{ new Date().getHours() + ":" + new Date().getMinutes() }}
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'

	@Component
	export default class ConversationsList extends Vue {
		@Prop({ type: Object }) chat!: {}
	}
</script>

<style lang="sass" scoped>

</style>
