<template>
	<VFlex
		class="chat-message my-2"
		:align-self-end="loggedInUserIsSender"
		shrink
	>
		<VAvatar v-if="!loggedInUserIsSender" class="mx-3 align-self-end" size="40px">
			<VImg :src="message.author.profile.imageLink" />
		</VAvatar>
		<div :class="[ loggedInUserIsSender ? 'outgoing' : 'incoming']">
			{{ message.message }}
		</div>
	</VFlex>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'
	import { vxm } from '@/store'

	@Component
	export default class message extends Vue {
		@Prop({ type: Object }) message!: any

		get loggedInUserIsSender() {
			return vxm.auth.userId === this.message.author.id
		}
	}
</script>

<style lang="sass" scoped>
	.chat-message
		display: flex
		min-width: 40%
		max-width: 70% !important

		.incoming, .outgoing
			flex-grow: 1
			padding: 14px
			background-color: #f4f4f4
			min-height: 40px
			border-radius: 5px

		.outgoing
			background-color: #dcecef
</style>
