<template>
	<div class="user-badge" :class="classes">
		<VListTile avatar>
			<VListTileAction v-if="!alignRight">
				<VAvatar>
					<VImg
						:src="profileImg"
						alt="avatar"
					/>
				</VAvatar>
			</VListTileAction>
			<VListTileContent>
				<VListTileTitle :class="{ 'text-xs-right': alignRight }">
					{{ name }}
				</VListTileTitle>
				<VListTileSubTitle v-if="!noSubTitle" class="grey--text" :class="{ 'text-xs-right': alignRight }">
					{{ user.fieldOfStudy.name }}
					<template v-if="!noStudentYear">
						• {{ schoolYear }}
					</template>
				</VListTileSubTitle>
			</VListTileContent>
			<VListTileAction v-if="alignRight">
				<VAvatar>
					<VImg
						:src="profileImg"
						alt="avatar"
					/>
				</VAvatar>
			</VListTileAction>
		</VListTile>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { User } from '../../../../backend/src/entities/User'
	import { Translate } from '@/utils/Translate'

	@Component
	export default class UserBadge extends Vue {
		@Prop({ required: true, type: Object }) user!: User
		@Prop({ type: Boolean }) dense!: boolean
		@Prop({ type: Boolean }) shortYear!: boolean
		@Prop({ type: Boolean }) alignRight!: boolean
		@Prop({ type: Boolean }) noSubTitle!: boolean
		@Prop({ type: Boolean }) noStudentYear!: boolean

		get name() {
			return this.user.profile.firstname + ' ' + this.user.profile.lastname
		}

		get profileImg() {
			return this.user.profile.imageLink
		}

		@Translate()
		get schoolYear() {
			return 'studyYear.' + (this.shortYear ? 'short.' : '') + this.user.profile.currentYear
		}

		get classes() {
			return {
				'v-list--dense': this.dense
			}
		}
	}
</script>

<style lang="sass">
	.user-badge .v-list__tile
		padding: 0 !important
</style>
