<template>
	<div :style="{'height': newHeight, 'width': newWidth}" class="switch-container my-1">
		<div :class="[syncSelected ? 'switch-container__txt--active' : 'switch-container__txt--inactive']" @click="syncSelected = true" class="switch-container__txt">
			{{ options.firstOption }}
		</div>
		<div :class="[!syncSelected ? 'switch-container__txt--active' : 'switch-container__txt--inactive']" @click="syncSelected = false" class="switch-container__txt">
			{{ options.secondOption }}
		</div>
		<div
			:class="[syncSelected ? 'add-animation-left' : 'add-animation-right']"
			role="button"
			class="switch-container__item switch-container__item--active"
		/>
	</div>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'

	@Component
	export default class CustomSwitchUtil extends Vue {
		@Prop({ type: Object, required: true }) options!: { firstOption: string, secondOption: string }
		@Prop({ type: Number }) height!: Number
		@Prop({ type: Number }) width!: Number
		@PropSync({ type: Boolean, default: true }) syncSelected!: boolean

		get newHeight() {
			return `${this.height}px`
		}

		get newWidth() {
			return `${this.width}px`
		}
	}
</script>

<style lang="sass" scoped>
	.switch-container
		display: flex
		background: $primary
		border-radius: 20px
		position: relative
		box-shadow: 0px 0px 53px -15px rgba(23,23,23,1)
		&__txt
			position: relative
			width: 50%
			align-items: center
			justify-content: center
			cursor: pointer
			display: flex
			z-index: 1
			text-transform: uppercase
			font-weight: bold
			&--active
				color: $primary
				text-transform: uppercase
			&--inactive
				color: #FFF
		&__item
			position: absolute
			left: 0
			border-radius: 20px
			width: 50%
			height: 100%
			z-index: 0
			background: white

		.add-animation-right
			-webkit-animation: 0.3s linear slide-right
			animation: 0.3s linear slide-right
			left: 50%

		.add-animation-left
			-webkit-animation: 0.3s linear slide-left
			animation: 0.3s linear slide-left
			left: 0
		@-webkit-keyframes slide-right
			from
				-webkit-transform: translateX(-100%)
				transform: translateX(-100%)
			to
				-webkit-transform: translateX(0)
				transform: translateX(0)
		@-webkit-keyframes slide-left
			from
				-webkit-transform: translateX(100%)
				transform: translateX(100%)
			to
				-webkit-transform: translateX(0)
				transform: translateX(0)
</style>
