<template>
	<VContainer class="terms-container">
		<div class="privacy-policy-container">
			<p>
				{{ $t('privacy_policy_first_paragraph') }}
			</p>
			<p>
				{{ $t('privacy_policy_second_paragraph') }} <br>
			</p>
			<p>
				{{ $t('privacy_policy_third_paragraph') }}
			</p>
		</div>

		<div class="accept-terms">
			<VCheckbox
				ref="checkbox"
				v-model="acceptTerms"
				:error="error"
				data-test="acceptTerms"
				:label="$t('have_read_terms_and_conditions')"
				color="#005461"
			/>
		</div>
		<VAlert :value="error" outline>
			{{ $t('accept_privacy_statement') }}
		</VAlert>
	</VContainer>
</template>

<script lang="ts">
	import { Vue, Component, Watch } from 'vue-property-decorator'

	@Component
	export default class ConditionsForm extends Vue {
		$refs!: {
			checkbox: any
		}
		acceptTerms: boolean = false
		error = false

		@Watch('acceptTerms')
		onAcceptTermsChanged() {
			this.error = !this.acceptTerms
		}

		validate() {
			if (!this.acceptTerms) {
				this.error = true
			}
			return this.acceptTerms
		}
	}
</script>

<style lang="sass" scoped>
	.terms-container
		.privacy-policy-container
			max-height: 40vh
			max-width: 497px
			overflow-y: scroll
			text-align: left

	.accept-terms
		display: flex
		flex-direction: row
</style>
