<template>
	<VContainer>
		<VForm ref="from">
			<VLayout row wrap>
				<VFlex xs12>
					<VSelect
						v-model="syncSchoolId"
						:items="schools"
						:rules="rules.school"
						data-test="school"
						item-text="name"
						item-value="id"
						:label="$t('educational_institution')"
						box
						color="#4DAEBB"
						disabled
					/>
				</VFlex>
				<VFlex xs12>
					<VSelect
						v-model="syncFieldOfStudy"
						:items="fieldsOfStudies"
						:rules="rules.studyName"
						data-test="fieldOfStudy"
						item-text="name"
						item-value="id"
						:label="$t('field_of_study')"
						box
						color="#4DAEBB"
					/>
				</VFlex>
				<VFlex xs12>
					<VSelect
						v-model="syncStudyYear"
						:items="studyYears"
						:rules="rules.studyYear"
						data-test="studyYear"
						item-text="e"
						item-value="i"
						:label="$t('study_year')"
						box
						color="#4DAEBB"
					/>
				</VFlex>
				<VFlex>
					<SkillSelector
						:skill-list.sync="syncSkillList"
						:selected-skills.sync="syncSelectedSkills"
					/>
				</VFlex>
			</VLayout>
		</VForm>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator'
	import SkillSelector from '../../components/SkillSelector.vue'
	import { PropSync } from '@/utils/PropSync'
	import gql from 'graphql-tag'
	import { Translate } from '@/utils/Translate'
	import { StudentYear } from '../../../../backend/src/entities/StudentYear'

	@Component({
		components: {
			SkillSelector
		},
		apollo: {
			schools: gql`{
				schools {
					id
					name
				}
			}`,
			fieldsOfStudies: {
				query: gql`query($schoolId: String!) {
					fieldsOfStudies(schoolId: $schoolId) {
						id
						name
					}
				}`,
				variables() {
					return {
						schoolId: this.syncSchoolId
					}
				},
				skip() {
					return this.syncSchoolId === ''
				}
			}
		}
	})
	export default class InterestForm extends Vue {
		$refs!: {
			from: any
		}
		@PropSync({ type: String }) syncSchoolId!: number
		@PropSync({ type: String }) syncFieldOfStudy!: string
		@PropSync() syncStudyYear!: StudentYear
		@PropSync({ type: Array }) syncSkillList!: string[]
		@PropSync({ type: Array }) syncSelectedSkills!: string[]

		get studyYears() {
			return Object.values(StudentYear).filter(e => typeof e === 'string')
				.map((e, i) => ({ e: this.$t('studyYear.' + e), i: e }))
		}

		@Translate()
		get rules() {
			return {
				school: [
					value => !!value || 'rules.required.school'
				],
				studyName: [
					value => !!value || 'rules.required.studyName'
				],
				studyYear: [
					value => !!value || 'rules.required.studyYear',
					value => value in StudentYear || 'rules.validate.studyYear'
				]
			}
		}

		validate() {
			return this.$refs.from.validate()
		}
	}
</script>

<style scoped>

</style>
