<template>
	<VContainer>
		<VLayout align-center justify-center column>
			<VAvatar color="#E9E9E9" class="mb-3" size="200px">
				<VIcon size="120px" color="white" v-if="selectedImage === ''">
					fas fa-user
				</VIcon>
				<VImg v-else :src="selectedImage" />
			</VAvatar>
			<VFlex xs2>
				<FilePicker class="mb-4" :selected-image.sync="selectedImage" :file.sync="syncFile" />
			</VFlex>
		</VLayout>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import FilePicker from '@/components/FilePicker.vue'
	import { PropSync } from '@/utils/PropSync'
	@Component({
		components: { FilePicker }
	})
	export default class ProfilePictureUploadForm extends Vue {
		@PropSync({ type: File }) syncFile!: File
		selectedImage: string = ''
	}
</script>

<style lang="sass" scoped>
</style>
