<template>
	<VForm ref="form">
		<VContainer class="px-0" grid-list-md text-xs-center>
			<VLayout row wrap>
				<VFlex xs6>
					<VTextField
						v-model="syncFirstName"
						:rules="[rules.isRequired]"
						box
						name="firstName"
						:label="$t('first_name')"
						color="#4DAEBB"
						password
						required
					/>
				</VFlex>
				<VFlex xs6>
					<VTextField
						v-model="syncLastName"
						:rules="[rules.isRequired]"
						name="lastName"
						box
						color="#4DAEBB"
						:label="$t('last_name')"
						required
					/>
				</VFlex>
				<VFlex xs12>
					<VTextField
						ref="emailField"
						v-model="syncEmail"
						:rules="rules.email"
						:error-messages="emailError"
						name="email"
						box
						color="#4DAEBB"
						:label="$t('email')"
						prepend-inner-icon="far fa-at"
						width="600px"
					/>
				</VFlex>
				<VFlex xs12>
					<VTextField
						v-model="syncPassword"
						:type="showPassword ? 'text' : 'password'"
						:rules="[rules.password]"
						:append-icon="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
						color="#4DAEBB"
						:label="$t('password')"
						prepend-inner-icon="fas fa-key"
						name="password"
						box
						@click:append="showPassword = !showPassword"
					/>
				</VFlex>
				<VFlex xs12>
					<VTextField
						v-model="confirmPassword"
						:append-icon="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
						:rules="[confirmPasswordRule]"
						:type="showConfirmPassword ? 'text' : 'password'"
						color="#4DAEBB"
						prepend-inner-icon="fas fa-key"
						:label="$t('repeat_password')"
						box
						name="confirmPassword"
						@click:append="showConfirmPassword = !showConfirmPassword"
					/>
				</VFlex>
			</VLayout>
		</VContainer>
	</VForm>
</template>

<script lang="ts">
	import { Component, Vue, Watch } from 'vue-property-decorator'
	import { PropSync } from '@/utils/PropSync'
	import gql from 'graphql-tag'
	import { Debounce } from 'lodash-decorators'
	import { Translate } from '@/utils/Translate'
	import { oc } from 'ts-optchain'

	// eslint-disable-next-line no-useless-escape
	const emailRegex = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
	const passwordRegex = /^(?=.{8,32}$)(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*/

	@Component
	export default class UserInformationForm extends Vue {
		$refs!: {
			form: any,
			emailField: any
		}
		@PropSync({ type: String }) syncFirstName!: string
		@PropSync({ type: String }) syncLastName!: string
		@PropSync({ type: String }) syncEmail!: string
		@PropSync({ type: String }) syncPassword!: string
		@PropSync({ type: String }) syncSchoolId!: string

		showPassword = false
		showConfirmPassword = false
		confirmPassword = ''
		emailError: string[] = []

		@Translate()
		get rules() {
			return {
				isRequired: (value: string) => value.trim() !== '' || 'rules.required.generic',
				email: [
					(email: string) => emailRegex.test(email) || 'rules.validate.email',
					(_: string) => this.syncSchoolId !== '' || 'rules.validate.invalidEmailSuffix'
				],
				password: (password: string) => (passwordRegex.test(password) || 'rules.validate.password'),
				termsAndConditions: (value: any) => value || 'rules.required.termsAndConditions'
			}
		}

		@Translate()
		get confirmPasswordRule() {
			return (confirmPassword: string) => (confirmPassword === this.syncPassword || 'rules.validate.confirmPassword')
		}

		get emailSuffix() {
			const split = this.syncEmail.split('@')
			if (split.length === 2 && split[1].length > 3) return split[1]
			return null
		}

		@Watch('syncEmail')
		@Debounce(500)
		async validateEmail() {
			if (this.emailSuffix !== null) {
				const emailSuffix = this.emailSuffix
				let response = await this.$apollo.query({
					query: gql`query emailSuffix($suffix: String!){
						emailSuffix(suffix: $suffix) {
							suffix
							school {
								id
								name
							}
						}
					}`,
					variables: {
						suffix: emailSuffix
					}
				})
				if (this.emailSuffix !== emailSuffix) return
				this.syncSchoolId = oc(response).data.emailSuffix.school.id('')
			} else {
				this.syncSchoolId = ''
			}
		}

		@Watch('syncSchoolId')
		onSchoolChanged() {
			this.emailError = this.syncSchoolId !== '' ? [] : [this.$t('rules.validate.invalidEmailSuffix') as string]
			this.$refs.emailField.validate()
		}

		public validate(): boolean {
			return this.$refs.form.validate() && this.syncSchoolId !== ''
		}
	}
</script>

<style scoped>

</style>
