<template>
	<VFlex>
		<VLayout class="fill-height elevation-10 radius-1 conversation-container" column>
			<VLayout class="pa-1" column shrink align-self-center align-center>
				<VAvatar size="50px" class="d-flex">
					<VImg :src="conversation.recipient.user.profile.imageLink" />
				</VAvatar>
				<h4>{{ conversationName }}</h4>
			</VLayout>
			<VDivider light class="divider" />
			<VFlex class="pa-2 scroll-y messages-container" ref="messages" @scroll="onScrollTopChanged">
				<VBtn
					v-if="hasNewMessages && !shouldScrollToBottom"
					@click="scrollToBottom"
					class="new-messages-toast"
					flat
				>
					You have new messages
					<VIcon small class="ml-3">
						far fa-arrow-down
					</VIcon>
				</VBtn>
				<VLayout column justify-end>
					<Message
						v-for="message in sortedMessages"
						:key="message.id"
						:message="message"
					/>
					<VFlex
						v-if="!messagesLoaded"
						justify-self-center
						align-self-center
						shrink
					>
						{{ $t('loading_messages') }}
					</VFlex>
				</VLayout>
			</VFlex>
			<VLayout shrink class="pa-2">
				<VTextField
					v-model="newMessage"
					hide-details
					solo
					auto-grow
					background-color="#eeeeee"
					@keydown.enter.prevent="sendMessage"
				/>
				<VBtn
					@click="sendMessage"
					solo
					large
					color="secondary"
					class="send-msg-btn align-self-center"
				>
					Send
				</VBtn>
			</VLayout>
		</VLayout>
	</VFlex>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import Message from '@/components/chat/Message.vue'
	import { vxm } from '@/store'
	import { PaginatedMessageResponse } from '../../../../backend/src/graphql/types/PaginatedMessageResponse'
	import { Debounce } from '@/utils/Debounce'
	import { SubscribeToMessages } from '@/graphql/queries'
	import { Observable } from 'apollo-client/util/Observable'
	import { Message as _Message } from '../../../../backend/src/entities/Message'

	@Component({
		components: { Message },
		layout: 'signedIn',
		apollo: {
			messages: {
				query: gql`query($conversationId: String!) {
						messages(conversationId: $conversationId) {
							items {
								id
								author {
									id
									profile {
										firstname
										lastname
										imageLink
									}
								}
								message
								sentAt
							}
							total
							hasMore
						}
					}`,
				manual: true,
				result({ data }) {
					// @ts-ignore
					this.messages = data.messages
				},
				skip() {
					return !this.conversationId
				},
				variables() {
					return {
						conversationId: this.conversationId
					}
				},
				fetchPolicy: 'network-only'
			}
		}
	})
	export default class Conversation extends Vue {
		$refs!: {
			messages: any
		}
		@Prop() conversations!: any[]
		messages: PaginatedMessageResponse|null = null
		newMessage: string = ''
		shouldScrollToBottom: boolean = true
		hasNewMessages: boolean = true
		subscription: ZenObservable.Subscription|null = null

		get messagesLoaded() {
			return this.messages !== undefined
		}

		get sortedMessages() {
			if (this.messages) {
				return [...this.messages.items].reverse()
			}
			return []
		}

		get conversation() {
			return this.conversations.find(c => c.id === this.conversationId)
		}

		get conversationName() {
			return this.conversation && this.conversation.participants
				.filter(({ user }) => user.id !== vxm.auth.userId)
				.map(({ user }) => `${user.profile.firstname} ${user.profile.lastname}`)
				.join(', ')
		}

		get conversationId() {
			return this.$route.params.conversationId
		}

		get messagesObservable() {
			return vxm.chat.observable
		}

		async beforeDestroy() {
			if (this.subscription) {
				await this.subscription.unsubscribe()
			}
		}

		@Watch('messagesObservable', { immediate: true })
		async onMessageObservableChanged(observable: Observable<{ data: { messages: _Message } }>|null) {
			if (this.subscription) {
				await this.subscription.unsubscribe()
			}
			if (!observable) return
			this.subscription = observable
				.filter(({ data }) => data.messages.conversation.id === this.conversationId)
				.subscribe(({ data }) => {
				if (this.messages) {
					this.messages.items = [
						data.messages,
						...this.messages.items
					]
				}
			})
		}

		@Debounce(250, { maxWait: 600 })
		onScrollTopChanged() {
			const scrollContainer = this.$refs.messages
			this.shouldScrollToBottom = scrollContainer.scrollTop > scrollContainer.scrollHeight - scrollContainer.offsetHeight - 50
		}

		@Watch('sortedMessages')
		onMessagesChanged() {
			if (this.shouldScrollToBottom) {
				this.scrollToBottom()
			}
		}

		@Watch('shouldScrollToBottom')
		async onShouldScrollToBottomChanged() {
			await this.markAsRead()
		}

		scrollToBottom() {
			this.$nextTick(async () => {
				this.hasNewMessages = false
				this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight
				await this.markAsRead()
			})
		}

		async markAsRead() {
			if (this.messages && this.conversation.unreadMessages > 0) {
				await vxm.chat.markAsRead({
					...this.messages.items[0],
					conversation: this.conversation
				} as any)
			}
		}

		async sendMessage() {
			if (this.newMessage.trim() !== '') {
				try {
					await this.$apollo.mutate({
						mutation: gql`mutation($conversationId: String!, $message: String!) {
								sendMessage(conversationId: $conversationId, message: $message) {
									id
								}
							}`,
						variables: {
							conversationId: this.conversationId,
							message: this.newMessage.trim()
						}
					})
					this.newMessage = ''
				} catch (_) {
				}
			}
		}
	}
</script>

<style lang="sass" scoped>
	.messages-container
		flex-grow: 1
		& > div.layout
			min-height: 100%

	.new-messages-toast
		position: absolute
		top: 96px
		z-index: 100
		box-shadow: 0 0 53px -15px rgba(23,23,23,1)
		margin: auto
		width: 45%
		left: 30%
		background: white
		border-radius: 20px

	.conversation-container
		position: relative
</style>
