<template>
	<VContainer>
		<VFlex>
			<VDialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<VBtn v-on="on" @click="dialog = true" color="primary" dark class="mb-2">
						{{ $t('add_campus') }}
					</VBtn>
				</template>
				<VCard>
					<VCardTitle>
						<span class="headline">Ny campus</span>
					</VCardTitle>
					<VCardText>
						<VForm ref="form">
							<VFlex xs12>
								<VTextField
									v-model="name"
									:rules="[rules.isRequired]"
									box
									name="name"
									:label="$t('campus_name')"
									required
								/>
							</VFlex>
							<VFlex xs12>
								<VFlex xs12>
									<VTextField
										v-model="address"
										:rules="[rules.isRequired]"
										box
										name="address"
										:label="$t('campus_address')"
										required
									/>
								</VFlex>
							</VFlex>
							<VBtn
								@click="addCampus"
								color="secondary"
								large
								light
								class="black--text text-uppercase"
							>
								{{ $t('Legg til campus') }}
							</VBtn>
						</VForm>
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
		<VFlex>
			<VDataTable :headers="headers" :items="syncCampuses" class="elevation-1">
				<template v-slot:items="props">
					<td>
						{{ props.item.name }}
					</td>
					<td>
						{{ props.item.address }}
					</td>
					<td>
						{{ props.item.deletedAt !== null }}
					</td>
					<td class="justify-center">
						<VIcon v-if="props.item.deletedAt === null" @click="removeCampus(props.item)" small>
							fa fa-trash
						</VIcon>
						<VIcon v-if="props.item.deletedAt !== null" @click="restoreCampus(props.item)" small>
							fa fa-trash-restore
						</VIcon>
					</td>
				</template>
			</VDataTable>
		</VFlex>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({ layout: 'admin' })
	export default class Campuses extends Vue {
		@PropSync({ type: Array }) syncCampuses!: any[]
		$refs!: {
			form: any
		}
		name: string = ''
		address: string = ''
		dialog = false
		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required'
		}

		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Address',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Deactivated',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]

		addCampus() {
			if (this.$refs.form.validate()) {
				this.dialog = false
				this.syncCampuses.push({ name: this.name, address: this.address, deletedAt: null })
				this.$refs.form.reset()
			}
		}

		removeCampus(item) {
			const index = this.syncCampuses.indexOf(item)
			item.deletedAt = new Date()
			this.syncCampuses[index] = item
		}

		restoreCampus(item) {
			const index = this.syncCampuses.indexOf(item)
			item.deletedAt = null
			this.syncCampuses[index] = item
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
