<template>
	<VDialog v-model="syncDialog">
		<template v-slot:activator="{ on }">
			<VBtn @click="syncDialog = true" v-on="on" color="primary" dark class="mb-2">
				{{ $t('create_school') }}
			</VBtn>
		</template>
		<VCard>
			<VCardTitle>
				<span class="headline">{{ $t('new_school') }}</span>
			</VCardTitle>
			<VCardText>
				<SchoolForm
					:name.sync="name"
					:campuses.sync="campuses"
					:fields-of-studies.sync="fieldsOfStudies"
					:email-suffixes.sync="emailSuffixes"
					@submit="createSchool"
				/>
			</VCardText>
		</VCard>
	</VDialog>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import Campuses from '@/components/admin/Campuses.vue'
	import SchoolForm from '@/components/admin/SchoolForm.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({
		components: { SchoolForm, Campuses },
		layout: 'admin' })
	export default class CreateSchool extends Vue {
		@PropSync({ type: Boolean }) syncDialog!: boolean
		@PropSync({ type: Boolean }) syncSubmit!: boolean
		name: string = ''
		campuses: Object[] = []
		emailSuffixes: Object[] = []
		fieldsOfStudies: Object[] = []
		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Address',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]
		rules = {
			isRequired: (value: string) => value.trim() !== '' || 'This field is required',
			isNotEmpty: (value: string[]) => value.length !== 0 || 'Must have more than one entry',
		}

		async createSchool() {
			await this.$apollo.mutate({
				mutation: gql`mutation (
						$name: String!,
						$campuses: [CampusInput!]!,
						$emailSuffixes: [EmailSuffixInput!]!,
						$fieldsOfStudies: [FieldOfStudyInput!]!){
					createSchool(name: $name, campuses: $campuses, emailSuffixes: $emailSuffixes, fieldsOfStudies: $fieldsOfStudies) {
						id
					}
				}`,
				variables: {
					name: this.name,
					fieldsOfStudies: this.fieldsOfStudies,
					campuses: this.campuses,
					emailSuffixes: this.emailSuffixes
				}
			})
			this.name = ''
			this.campuses = []
			this.fieldsOfStudies = []
			this.emailSuffixes = []
			this.syncSubmit = false
			this.syncDialog = false
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
