i<template>
	<VDialog v-model="syncDialog">
		<VCard>
			<VCardTitle>
				<span class="headline">{{ $t( 'edit_school' ) }}</span>
			</VCardTitle>
			<VCardText>
				<SchoolForm
					:id.sync="school.id"
					:name.sync="school.name"
					:campuses.sync="school.campuses"
					:fields-of-studies.sync="school.fieldsOfStudies"
					:email-suffixes.sync="school.emailSuffixes"
					@submit="editSchool"
				/>
			</VCardText>
		</VCard>
	</VDialog>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import Campuses from '@/components/admin/Campuses.vue'
	import SchoolForm from '@/components/admin/SchoolForm.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({
		components: { SchoolForm, Campuses },
		layout: 'admin' })
	export default class EditSchool extends Vue {
		@Prop() school!: any
		@PropSync({ type: Boolean }) syncSubmit!: boolean
		@PropSync({ type: Boolean }) syncDialog!: boolean
		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Address',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]
		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required',
			isNotEmpty: (value: string[]) => value.length !== 0 || 'Must have more than one entry',
		}

		async editSchool() {
			await this.$apollo.mutate({
				mutation: gql`mutation (
						$id: String!,
						$name: String!,
						$campuses: [CampusInput!]!,
						$emailSuffixes: [EmailSuffixInput!]!,
						$fieldsOfStudies: [FieldOfStudyInput!]!){
					updateSchool(id: $id, name: $name, campuses: $campuses, emailSuffixes: $emailSuffixes, fieldsOfStudies: $fieldsOfStudies) {
						id
					}
				}`,
				variables: {
					id: this.school.id,
					name: this.school.name,
					fieldsOfStudies: this.school.fieldsOfStudies.map(study => {
						delete study.__typename
						return study
					}),
					campuses: this.school.campuses.map(campus => {
						delete campus.__typename
						return campus
					}),
					emailSuffixes: this.school.emailSuffixes.map(suffix => {
						delete suffix.__typename
						return suffix
					})
				}
			})
			this.syncSubmit = false
			this.syncDialog = false
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
