<template>
	<VContainer>
		<VFlex>
			<VDialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<VBtn v-on="on" @click="dialog = true" color="primary" dark class="mb-2">
						{{ $t('create_email_domain') }}
					</VBtn>
				</template>
				<VCard>
					<VCardTitle>
						<span class="headline">{{ $t('new_email_domain') }}</span>
					</VCardTitle>
					<VCardText>
						<VForm ref="form">
							<VFlex xs12>
								<VTextField
									v-model="suffix"
									:rules="[rules.isRequired]"
									box
									name="name"
									:label="$t('email_name')"
									required
								/>
							</VFlex>
							<VBtn
								@click="addSuffix"
								color="secondary"
								large
								light
								class="black--text text-uppercase"
							>
								{{ $t('Legg til e-post domene') }}
							</VBtn>
						</VForm>
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
		<VFlex>
			<VDataTable :headers="headers" :items="syncEmailSuffixes" class="elevation-1">
				<template v-slot:items="props">
					<td>
						{{ props.item.suffix }}
					</td>
					<td class="justify-center">
						<VIcon @click="removeSuffix(props.item.id)" small>
							fa fa-trash
						</VIcon>
					</td>
				</template>
			</VDataTable>
		</VFlex>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({ layout: 'admin' })
	export default class EmailSuffixes extends Vue {
		@PropSync({ type: Array }) syncEmailSuffixes!: Object[]
		$refs!: {
			form: any
		}
		suffix: string = ''
		dialog = false

		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required'
		}

		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]

		addSuffix() {
			if (this.$refs.form.validate()) {
				this.dialog = false
				this.syncEmailSuffixes.push({ suffix: this.suffix })
				this.$refs.form.reset()
			}
		}

		removeSuffix(index) {
			this.syncEmailSuffixes.splice(index, 1)
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
