<template>
	<VContainer>
		<VFlex>
			<VDialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<VBtn v-on="on" @click="dialog = true" color="primary" dark class="mb-2">
						{{ $t('add_field_of_study') }}
					</VBtn>
				</template>
				<VCard>
					<VCardTitle>
						<span class="headline">{{ $t('new_field_of_study') }}</span>
					</VCardTitle>
					<VCardText>
						<VForm ref="form">
							<VFlex xs12>
								<VTextField
									v-model="name"
									:rules="[rules.isRequired]"
									box
									name="name"
									:label="$t('field_of_study_name')"
									required
								/>
							</VFlex>
							<VBtn
								@click="addFieldOfStudy"
								color="secondary"
								large
								light
								class="black--text text-uppercase"
							>
								{{ $t('Legg til studielinje') }}
							</VBtn>
						</VForm>
					</VCardText>
				</VCard>
			</VDialog>
		</VFlex>
		<VFlex>
			<VDataTable :headers="headers" :items="syncFieldsOfStudies" class="elevation-1">
				<template v-slot:items="props">
					<td>
						{{ props.item.name }}
					</td>
					<td>
						{{ props.item.deletedAt !== null }}
					</td>
					<td class="justify-center">
						<VIcon v-if="props.item.deletedAt === null" @click="removeFieldOfStudy(props.item)" small>
							fa fa-trash
						</VIcon>
						<VIcon v-if="props.item.deletedAt !== null" @click="restoreFieldOfStudy(props.item)" small>
							fa fa-trash-restore
						</VIcon>
					</td>
				</template>
			</VDataTable>
		</VFlex>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import { PropSync } from '@/utils/PropSync'

	@Component({ layout: 'admin' })
	export default class FieldsOfStudies extends Vue {
		@PropSync({ type: Array }) syncFieldsOfStudies!: Object[]
		@Prop() syncSchoolId: any
		$refs!: {
			form: any
		}
		name: string = ''
		dialog = false
		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required'
		}

		headers = [
			{
				text: 'Name',
				align: 'left',
				sortable: true,
				value: 'id'
			},
			{
				text: 'Deactivated',
				align: 'left',
				sortable: true,
				value: 'id'
			}
		]

		addFieldOfStudy() {
			if (this.$refs.form.validate()) {
				this.dialog = false
				const fieldOfStudy: any = { name: this.name, deletedAt: null }
				if (this.syncSchoolId !== undefined) fieldOfStudy.school = { id: this.syncSchoolId }
				this.syncFieldsOfStudies.push(fieldOfStudy)
				this.$refs.form.reset()
			}
		}

		removeFieldOfStudy(item) {
			const index = this.syncFieldsOfStudies.indexOf(item)
			item.deletedAt = new Date()
			this.syncFieldsOfStudies[index] = item
		}

		restoreFieldOfStudy(item) {
			const index = this.syncFieldsOfStudies.indexOf(item)
			item.deletedAt = null
			this.syncFieldsOfStudies[index] = item
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
