<template>
	<VForm ref="form">
		<VFlex xs12>
			<VTextField
				v-model="syncName"
				:rules="[rules.isRequired]"
				box
				name="name"
				:label="$t('school_name')"
				password
				required
			/>
		</VFlex>
		<EmailSuffixes :email-suffixes.sync="syncEmailSuffixes" />
		<FieldsOfStudies :fields-of-studies.sync="syncFieldsOfStudies" :school-id.sync="syncId" />
		<Campuses :campuses.sync="syncCampuses" />
		<VBtn
			@click="submitForm"
			color="secondary"
			large
			light
			class="black--text text-uppercase"
		>
			{{ syncId === undefined ? $t('Opprett') : $t('Lagre') }}
		</VBtn>
	</VForm>
</template>

<script lang="ts">
	import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
	import gql from 'graphql-tag'
	import CampusFields from '@/components/admin/CampusFields.vue'
	import Campuses from '@/components/admin/Campuses.vue'
	import { PropSync } from '@/utils/PropSync'
	import FieldsOfStudies from '@/components/admin/FieldsOfStudies.vue'
	import EmailSuffixes from '@/components/admin/EmailSuffixes.vue'

	@Component({
		components: { EmailSuffixes, FieldsOfStudies, Campuses },
		layout: 'admin'
	})
	export default class SchoolForm extends Vue {
		@PropSync({ type: String }) syncId!: string
		@PropSync({ type: String }) syncName!: string
		@PropSync({ type: Boolean }) syncSubmit!: boolean
		@PropSync({ type: Array }) syncCampuses!: Object[]
		@PropSync({ type: Array }) syncEmailSuffixes!: Object[]
		@PropSync({ type: Array }) syncFieldsOfStudies!: Object[]

		$refs!: {
			form: any
		}

		rules = {
			isRequired: (value: string) => (value !== undefined && value.trim() !== '') || 'This field is required',
			isNotEmpty: (value: string[]) => value.length !== 0 || 'Must have more than one entry',
		}

		submitForm() {
			if (this.$refs.form.validate()) {
				this.$emit('submit')
			}
		}
	}
</script>

<style lang="sass" scoped>
	.v-icon
		&.far, &.fas, &.fab, &.fal
			font-size: 15px
			padding-right: 5px

			&:hover
				cursor: pointer
</style>
