<template>
	<div>
		<NavBar />
		<VContent>
			<VLayout fill-height row>
				<SideBar class="hidden-sm-and-down" :links="actions" />
				<VFlex class="layout-content">
					<RouterView />
				</VFlex>
			</VLayout>
		</VContent>
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import NavBar from '@/components/NavBar.vue'
	import router from '@/router'
	import SideBar from '@/components/SideBar.vue'

	@Component({
		components: {
			SideBar,
			NavBar
		}
	})
	export default class admin extends Vue {
		actions: any[] = [
			{ icon: 'fas fa-home', url: '/dashboard', name: 'Hjem', role: ['ADMIN'] },
			{ icon: 'fas fa-school', url: '/admin/schools', name: 'Skoler', role: ['ADMIN'] },
			{ icon: 'fas fa-newspaper', url: '/admin/categories', name: 'Kategorier', role: ['ADMIN'] },
			{ icon: 'fas fa-tag', url: '/admin/tags', name: 'Tag', role: ['ADMIN'] },
		]
		activeIndex = 1

		renderAction(index) {
			this.activeIndex = index
			router.push(this.actions[index].url)
		}
	}
</script>

<style lang="sass" scoped>
	.layout-content
		height: calc(100vh - 100px)
		overflow-y: auto
		flex-shrink: 1
</style>
