<template>
	<div>
		<RouterView />
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class defaultLayout extends Vue {
	}
</script>

<style scoped lang="sass">

</style>
