<template>
	<div>
		<NavBar v-if="hasFetchedUserData" />
		<VContent v-if="hasFetchedUserData">
			<VLayout fill-height row>
				<SideBar class="hidden-sm-and-down" />
				<VFlex class="layout-content">
					<RouterView />
				</VFlex>
			</VLayout>
		</VContent>
		<template v-if="!hasFetchedUserData">
			Loading
		</template>
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import SideBar from '@/components/SideBar.vue'
	import NavBar from '@/components/NavBar.vue'
	import { vxm } from '@/store'

	@Component({
		components: {
			SideBar,
			NavBar
		}
	})
	export default class signedIn extends Vue {
		get hasFetchedUserData() {
			return !!vxm.user.me
		}
	}
</script>

<style scoped lang="sass">
	.layout-content
		height: calc(100vh - 100px)
		overflow-y: auto
		flex-shrink: 1
</style>
