<template>
	<VApp>
		<RouterView />
	</VApp>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class App extends Vue {
	}
</script>

<style lang="sass">
	#nav
		padding: 30px

		a
			font-weight: bold
			color: #2c3e50

			&.router-link-exact-active
				color: #42b983

</style>
