<template>
	<VLayout wrap fill-height row class="admin">
		<RouterView />
	</VLayout>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import NavBar from '@/components/NavBar.vue'
	import Schools from '@/views/admin/Schools.vue'

	@Component({
		components: { Schools, NavBar },
		layout: 'admin'
	})
	export default class Admin extends Vue {

	}
</script>

<style scoped lang="sass">
	.admin
		display: flex
		justify-content: center
	.icon
		color: $primary
</style>
