<template>
	<Calendar :landscape="true" class="px-3 mt-2" />
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import Calendar from '@/components/Calendar.vue'

	@Component({
		components: { Calendar },
		layout: 'signedIn'
	})
	export default class Appointments extends Vue {

	}
</script>

<style lang="sass" scoped>

</style>
