<template>
	<VContainer fluid fill-height>
		<VLayout class="chat-container" row>
			<VFlex
				xs5
				md4
				lg3
				class="mr-4 elevation-10 radius-1"
			>
				<h2 class="text-xs-center my-4">
					Chat
				</h2>
				<VList two-line>
					<VListTile
						v-for="conversation in conversations"
						:key="conversation.id"
						:to="{ name: 'conversation', params: { conversationId: conversation.id } }"
						avatar
						exact-active-class="primary--text"
					>
						<VBadge overlap left color="red" small :value="conversation.unreadMessages > 0">
							<template v-slot:badge>
								<span>{{ conversation.unreadMessages }}</span>
							</template>

							<VListTileAvatar>
								<VImg :src="conversation.recipient.user.profile.imageLink" />
							</VListTileAvatar>
						</VBadge>
						<VListTileContent>
							<VListTileTitle>{{ conversation.recipient.user.profile.firstname }} {{ conversation.recipient.user.profile.lastname }}</VListTileTitle>
							<VListTileSubTitle>
								<template v-if="conversation.lastMessage">
									{{ conversation.lastMessage.message }}
								</template>
								<template v-else>
									{{ $t('send_first_message') }}
								</template>
							</VListTileSubTitle>
						</VListTileContent>
						<VListTileAction>
							<!--<VListTileActionText>2 min</VListTileActionText>-->
						</VListTileAction>
					</VListTile>
				</VList>
			</VFlex>

			<RouterView :conversations="conversations" />
		</VLayout>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import ConversationsList from '@/components/chat/ConversationsList.vue'
	import Message from '@/components/chat/Message.vue'
	import gql from 'graphql-tag'
	import { vxm } from '@/store'

	@Component({
		layout: 'signedIn',
		components: { Message, ConversationsList },
		apollo: {
			/* rawConversations: {
				query: gql`query {
						rawConversations: conversations {
							id
							lastMessage {
								author {
									profile {
										firstname
										lastname
									}
								}
								message
							}
							participants {
								id
								profile {
									firstname
									lastname
								}
							}
						}
					}`
			}
			 */
		}
	})
	export default class Chat extends Vue {
		get rawConversations() {
			return vxm.chat.conversations
		}

		get conversations() {
			if (!this.rawConversations) return []
			return this.rawConversations.map(conversation => ({
				...conversation,
				recipient: conversation.participants.find(({ user }) => user.id !== vxm.user.me.id)
			}))
		}
	}
</script>

<style lang="sass" scoped>
	.chat-container
		height: 100%
		&__users-container
			&__msg-info-container
				&:hover
					background-color: #dcecef
					cursor: pointer
			&__msg-information
				justify-content: center
				flex-direction: column
				display: inline-flex
				text-align: left
		&__messages-container
			position: relative
			overflow: hidden
			box-shadow: -1px 2px 91px -27px rgba(87,87,87,1)
			border-radius: 5px
			background: #FFF
			&__header
				padding-top: 1%
				display: inline
				position: absolute
				height: 15%
				width: 100%
				text-align: center
				z-index: 999
				background: #FFF
	.notification-btn
		box-shadow: 0px 0px 53px -15px rgba(23,23,23,1)
		position: absolute
		margin: auto
		width: 45%
		z-index: 99
		left: 30%
		top: 25%
		background: white
		border-radius: 20px
	.divider
		position: relative
		top: 15%
	.send-message-container
		top: 20%
		justify-content: center
		align-items: center
		height: 10%
		position: relative
	.send-msg-btn
		background: $secondary  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, $secondary, #fffb84)
		background: linear-gradient(to right, $secondary, #fffb84)
</style>
