<template>
	<VLayout row fill-height justify-space-between px-2 mt-4>
		<VFlex
			xs12
			class="mt-2"
		>
			<VLayout wrap justify-space-around class="feed-container">
				<VFlex xs6 class="filter mb-4">
					<CustomSwitchUtil
						:height="40"
						:width="200"
						:selected.sync="me"
						:options="{ firstOption: 'For deg', secondOption: 'Utforsk' }"
					/>
				</VFlex>
				<VFlex xs6 class="pl-3 mb-4">
					<CreatePostDialog
						:dialog.sync="dialog"
					/>
				</VFlex>
				<VFlex xs6>
					<FeedFilterOptions
						:selected-categories.sync="selectedCategories"
						:selected-place.sync="selectedPlace"
					/>
				</VFlex>
				<VFlex xs6>
					<VSelect
						v-model="sortBy"
						:items="sortingOptions"
						:menu-props="{ maxHeight: '400' }"
						background-color="sort-values"
						class="sort pa-0"
						:placeholder="$t('sort')"
						dark
						hide-details
						single-line
						item-value="key"
						item-text="value"
					/>
				</VFlex>

				<VFlex xs12 class="scroll-y">
					<PostCard
						v-for="post in sortedPosts"
						:key="post.id"
						:post="post"
						@click.native="selectPost(post.id)"
					/>
					<div v-if="!hasAnyPosts">
						<h3 class="mb-3 font-color">
							Her er det tomt!
						</h3>
						<h4 class="font-color">
							Opprett et innlegg for å få kontakt med dine medstudenter
						</h4>
					</div>
				</VFlex>
			</VLayout>
		</VFlex>
		<SinglePostView
			v-if="showPostDialog"
			:dialog.sync="showPostDialog"
			:post="selectedPost"
			@sendAssistanceOffer="sendAssistanceOffer"
		/>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import Feed from '@/components/Feed.vue'
	import NavBar from '@/components/NavBar.vue'
	import PostCreation from '@/components/PostCreation.vue'
	import gql from 'graphql-tag'
	import SideBar from '@/components/SideBar.vue'
	import CreatePostDialog from '@/components/CreatePostDialog.vue'
	import CustomSwitchUtil from '@/components/utils/CustomSwitchUtil.vue'
	import Calendar from '@/components/Calendar.vue'
	import { vxm } from '@/store'
	import FeedFilterOptions from '@/components/FeedFilterOptions.vue'
	import PostCard from '@/components/PostCard.vue'
	import { Post } from '../../../backend/src/entities/Post'
	import SinglePostView from '@/components/SinglePostView.vue'
	import Chat from '@/views/Chat.vue'

	@Component({
		layout: 'signedIn',
		components: { SinglePostView, PostCard, FeedFilterOptions, Calendar, CreatePostDialog, SideBar, PostCreation, NavBar, Feed, CustomSwitchUtil, Chat },
		apollo: {
			posts: {
				query: gql`query($categoryIds: [String!]!, $campusIds: [String!]!, $tagIds: [String!]!, $order: String) {
					posts(categoryIds: $categoryIds, campusIds: $campusIds, tagIds: $tagIds, order: $order) {
						id,
						title,
						content,
						user {
							id
							profile {
							imageLink
							firstname
							lastname
							currentYear
							}
							fieldOfStudy {
								name
							}
						},
						tags {
							id
							tag
						}
						deadline,
						imageLink,
						location {
							name
						},
						category {
							id
							name
						},
						assistanceOffers {
							id
							accepted
						}
					}
				}`,
				variables() {
					return {
						categoryIds: this.selectedCategories,
						campusIds: this.selectedPlace,
						tagIds: this.me ? vxm.user.me.skills.map(tag => tag.id) : [],
						order: this.sortBy
					}
				}
			}
		}
	})
	export default class Dashboard extends Vue {
		posts!: Post[]
		dialog: boolean = false
		selectedCategories: string[] = []
		selectedPlace: string[] = []
		me: boolean = true
		showPosts: boolean = true
		sortingOptions = [
			{ key: 'ASC', value: 'By name asc' },
			{ key: 'DESC', value: 'By name desc' },
		]
		sortBy = null
		selectedPostId: string|null = null

		get hasAnyPosts() {
			if (this.posts) {
				return this.posts.length > 0
			}
			return !!this.posts
		}

		get sortedPosts() {
			if (this.posts) {
				return [
					...this.posts
				]
			}
			return []
		}

		get selectedPost() {
			return this.sortedPosts.find(post => post.id === this.selectedPostId) || null
		}

		get showPostDialog() {
			return this.selectedPostId !== null
		}
		set showPostDialog(value) {
			if (!value) {
				this.selectedPostId = null
			}
		}

		selectPost(postId) {
			this.selectedPostId = this.selectedPostId === postId ? null : postId
		}

		async sendAssistanceOffer({ postId, message }) {
			await this.$apollo.mutate({
				mutation: gql`mutation($helperId: String!, $postId: String!, $message: String!) {
							createAssistanceOffer(helperId: $helperId, postId: $postId, description: $message) {
								id
							}
						}`,
				variables: {
					helperId: vxm.auth.userId,
					postId,
					message
				}
			})
		}
	}
</script>

<style scoped lang="sass">
	.feed-container
		position: relative
	.sort
		position: absolute
		right: 10px
	.filter
		display: flex
		align-items: center
	.v-tabs
		top: 100px
	.dashboard-container
		&__posts-container
			flex-flow: row wrap
		&__navbar
			margin-top: 100px
	.date-picker
		display: flex
		justify-content: center
	.custom-util
		display: flex
		justify-content: center
	.main-layout
		justify-content: space-between
</style>
