<template>
	<VContainer fluid fill-height grid-list-sm pa-0>
		<LandingPageShapeDark class="abstract-dark" />
		<LandingPageShapeLight class="abstract-light" />
		<LandingPageMobileShape class="abstract-mobile" />
		<LandingPagePeople class="landingpage-people" />
		<Logo class="logo" white />
		<VLayout row wrap>
			<VFlex
				d-flex
				sm6
				xs12
				align-self-end
				mt-4
				pt-4
			>
				<div class="d-block intro-txt">
					<VIcon
						color="#005461"
						class="mr-4"
					>
						fas fa-newspaper
					</VIcon>
					<VIcon
						color="#005461"
						class="mr-4"
					>
						fas fa-comment
					</VIcon>
					<VIcon
						color="#005461"
						class="mr-4"
					>
						fas fa-calendar-check
					</VIcon>
					<h2 class="mt-3">
						{{ $t('new_ways_to_connect') }}
					</h2>
					<p class="subheader-txt mb-3 mt-2">
						{{ $t('user_professional_skills') }}<span class="bold-txt">Alle kan bidra!</span>
					</p>
					<VBtn
						color="#FFEB3B"
						class="btn landing-register"
						to="/signup"
					>
						{{ $t('register_yourself') }}
					</VBtn>
				</div>
			</VFlex>
			<VBtn
				color="#FFEB3B"
				class="btn landing-login"
				to="/signin"
			>
				{{ $t('log_in') }}
			</VBtn>
			<VFlex
				d-flex
				xs12
				pa-5
				mb-4
				class="shadow-box"
			>
				<VFlex
					sm6
					xs12
					my-5
				>
					<p class="mb-0 box-subheadline">
						{{ $t('a_social_platform') }}
					</p>
					<h3 class="box-headline">
						Møt Connect
					</h3>
					<p class="mb-3 mt-2">
						{{ $t('a_helping_platform') }}
					</p>
					<VBtn
						color="#FFEB3B"
						class="btn"
						to="/signup"
					>
						{{ $t('join') }}
					</VBtn>
				</VFlex>
				<StudentsAtTable
					class="students-table"
				/>
			</VFlex>
			<h2 class="page-headline mt-5">
				{{ $t('create_connections') }}
			</h2>
			<VFlex
				xs12
				mb-4
				class="three-icons-box"
			>
				<VFlex
					md4
					xs12
					my-4
					px-4
				>
					<div class="icon-bg">
						<VIcon
							color="#4DAEBB"
							class="big-icn"
						>
							fas fa-newspaper
						</VIcon>
					</div>
					<h3 class="big-icn-headline mt-3 mb-2">
						{{ $t('ask_for_help') }}
					</h3>
					<p class="big-icn-txt">
						{{ $t('need_help_with_something') }}
						<br>{{ $t('ask_fellow_students') }}
					</p>
				</VFlex>
				<VFlex
					md4
					xs12
					my-4
					px-4
				>
					<div class="icon-bg">
						<VIcon
							color="#4DAEBB"
							class="big-icn"
						>
							fas fa-comment
						</VIcon>
					</div>
					<h3 class="big-icn-headline mt-3 mb-2">
						{{ $t('connect') }}
					</h3>
					<p class="big-icn-txt">
						{{ $t('get_to_know_your_contacts') }}
					</p>
				</VFlex>
				<VFlex
					md4
					xs12
					my-4
					px-4
				>
					<div class="icon-bg">
						<VIcon
							color="#4DAEBB"
							class="big-icn"
						>
							fas fa-calendar-check
						</VIcon>
					</div>
					<h3 class="big-icn-headline mt-3 mb-2">
						{{ $t('agree_meeting') }}
					</h3>
					<p class="big-icn-txt">
						{{ $t('meet_each_other') }}
					</p>
				</VFlex>
			</VFlex>
			<VBtn
				color="#FFEB3B"
				class="btn connections-btn"
				to="/signup"
			>
				{{ $t('create_connections') }}
			</VBtn>
		</VLayout>
	</VContainer>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import FeedCard from '@/components/FeedCard.vue'
	import Logo from '@/components/Logo.vue'
	import LandingPageShapeDark from '../../../frontend/public/landingpage-bg-dark.svg'
	import LandingPageShapeLight from '../../../frontend/public/landingpage-bg-light.svg'
	import LandingPageMobileShape from '../../../frontend/public/mobile-landing-abstract.svg'
	import LandingPagePeople from '../../../frontend/public/landingpage-people.svg'
	import StudentsAtTable from '../../../frontend/public/table-students.svg'
	@Component({
		components: { Logo, FeedCard, LandingPageShapeDark, LandingPageShapeLight, LandingPageMobileShape, LandingPagePeople, StudentsAtTable }
	})
	export default class LandingPage extends Vue {
	}
</script>

<style scoped lang="sass">
	.container
		min-height: 100vh

		h1
			font-size: 2rem
			font-family: Roboto, Bold Condensed,serif
			color: #000
		.subheader-txt
			font-size: 1.4rem
			font-family: Roboto, Bold Condensed,serif
			color: #000
		.abstract-dark
			position: absolute
			top: 0
			left: 0
			width: 100%
			z-index: -2
			filter: drop-shadow(0px 1px 10px rgba(0,0,0,0.2))
		.btn
			font-family: Roboto, Bold Condensed, sans-serif
			font-weight: 700
			letter-spacing: 1px
			font-size: 1.6rem
			height: 3.7rem
			padding: 0.7rem 2.5rem
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
			margin-left: 0px
		.logo
			position: absolute
			width: 26%
			left: 3%
			top: 2%
		.abstract-light
			position: absolute
			top: -3%
			right: -5%
			z-index: -1
			width: 100%
			filter: drop-shadow(0px 1px 10px rgba(0,0,0,0.2))
		.abstract-mobile
			display: none
		.landingpage-people
			top: 6%
			width: 50%
			right: 2%
			z-index: 99
			position: absolute
		.landing-login
			position: absolute
			right: 3rem
			top: 2rem
		.intro-txt
			margin-top: 44%
			margin-left: 3%
		.bold-txt
			font-weight: 600
		.shadow-box
			margin-top: 15%
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2)
		.students-table
			padding: 3rem
		.box-subheadline
			color: $third
			font-weight: 600
		.box-headline
			font-size: 2rem
		.three-icons-box
			text-align: center
			display: flex
			> *
				flex: 1 1 0
		.icon-bg
			background-color: rgba(77, 174, 187, 0.1)
			border-radius: 50%
			display: inline-block
			position: relative
			height: 9rem
			width: 9rem
		.big-icn
			font-size: 5rem
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		.page-headline
			width: 100%
			text-align: center
		.connections-btn
			margin: 0 auto 5rem auto
		@media screen and (max-width: 600px)
			.three-icons-box
				flex-direction: column
				align-items: stretch
			.abstract-dark
				display: none
			.abstract-light
				display: none
			.logo
				width: 65%
				left: 50%
				right: 0
				top: 1rem
				transform: translateX(-50%)
			.landingpage-people
				display: none
			.landing-login
				position: relative
				top: auto
				right: auto
				margin: 0 auto
				display: block
				max-width: 70vw
				min-width: 20rem
				padding-left: 5%
				padding-right: 5%
			.landing-register
				position: relative
				margin: 0.5rem auto 1.5rem auto
				min-width: 20rem
				max-width: 70vw
			.abstract-mobile
				display: block
				position: absolute
				z-index: -1
				top: -2%
			.intro-txt
				text-align: center
				margin-left: auto
				margin-right: auto
				margin-top: 40%
				padding-left: 5%
				padding-right: 5%
			.shadow-box
				margin-top: 50%
				flex-direction: column
				text-align: center
			.students-table
				margin: 0 0 3rem 0
				padding: 0

</style>
