<template>
	<VContainer fluid class="myposts-container ma-0">
		<VLayout>
			<h2 class="mt-2 myposts-header">
				Mine innlegg
			</h2>
		</VLayout>
		<VLayout row wrap class="mt-4">
			<VFlex xs12 sm8 row wrap layout>
				<VFlex xs6 class="justify-center align-content-center">
					<CustomSwitchUtil
						:height="40"
						:width="200"
						:options="{firstOption: 'Aktive', secondOption: 'Utløpte'}"
						:selected.sync="active"
						class="mt-2"
					/>
				</VFlex>
				<VFlex xs6 class="justify-center align-content-center">
					<CreatePostDialog
						:dialog.sync="dialog"
					/>
				</VFlex>
			</VFlex>
		</VLayout>
		<VFlex
			xs12
			v-if="!hasAnyPosts"
			class="mt-5 pt-3"
			align-center
			justify-start
			column
		>
			<h3 class="mb-3 font-color">
				Her er det tomt!
			</h3>
			<h4 class="font-color">
				Opprett et innlegg for å få kontakt med dine medstudenter
			</h4>
		</VFlex>
		<VLayout
			xs12
			v-else
			v-for="post in posts || []"
			:key="post.id"
			align-start
			justify-start
			class="posts-container mt-5"
		>
			<VFlex xs12 sm8>
				<PostCard
					:post="post"
					class="my-card"
				>
					<template v-slot:bottom>
						<VFlex align-self-center grow>
							<VChip
								v-if="post.assistanceOffers.filter(offer => !offer.accepted).length > 0"
								@click="toggleAssistanceOffers(post.id)"
								color="accent"
								class="py-1 px-2"
							>
								<VAvatar color="black">
									<VIcon v-if="post.assistanceOffers.filter(offer => !offer.accepted).length > 1" class="text-xs-left" color="white" size="16px">
										fas fa-users
									</VIcon>
									<VImg
										:src="post.assistanceOffers.filter(offer => !offer.accepted)[0].helper.profile.imageLink"
									/>
								</VAvatar>
								<span class="font-weight-bold grow">
									<template v-if="post.assistanceOffers.filter(offer => !offer.accepted).length > 1">
										{{ $t('n_assistance_offers', [post.assistanceOffers.filter(offer => !offer.accepted).length]) }}
									</template>
									<template v-else>
										{{ $t('assistance_offer_from', { name: post.assistanceOffers.filter(offer => !offer.accepted)[0].helper.profile.firstname }) }}
									</template>
								</span>
							</VChip>
							<VChip
								v-if="post.assistanceOffers.length === 0"
								color="grey"
								class="py-1 px-2"
								disabled
							>
								<span class="font-weight-bold grow">
									{{ $t('no_assistance_offers') }}
								</span>
							</VChip>
						</VFlex>
					</template>
				</PostCard>
			</VFlex>
			<VFlex v-if="displayHelpOffers === post.id" xs4 class="ml-5">
				<PostOffers :help-offers="selectedAssistanceOffers" />
			</VFlex>
		</VLayout>
	</VContainer>
</template>

<script lang="ts">
	import { Vue, Prop, Component, Watch } from 'vue-property-decorator'
	import SideBar from '@/components/SideBar.vue'
	import CustomSwitchUtil from '@/components/utils/CustomSwitchUtil.vue'
	import CreatePostDialog from '@/components/CreatePostDialog.vue'
	import gql from 'graphql-tag'
	import { vxm } from '@/store'
	import FeedCard from '@/components/FeedCard.vue'
	import PostOffers from '@/components/PostOffers.vue'
	import PostCard from '@/components/PostCard.vue'
	@Component({
		layout: 'signedIn',
		components: { PostCard, PostOffers, FeedCard, CreatePostDialog, CustomSwitchUtil, SideBar },
		apollo: {
			posts: {
				query: gql`query($active: Boolean) {
					posts(me: true, active: $active) {
						id,
						title,
						content,
						user {
							id
							profile {
							imageLink
							firstname
							lastname
							currentYear
							}
							school {
								name
							}
							fieldOfStudy {
								name
							}
						},
						deadline,
						imageLink,
						location {
							name
						},
						category {
							id
							name
						},
						assistanceOffers {
							id
							description
							accepted
							helper {
								id
								fieldOfStudy {
									name
								}
								emails {
									email
								}
								profile {
									firstname
									lastname
									imageLink
									currentYear
								}
							}
						}
					}
				}`,
				variables() {
					return {
						active: this.active
					}
				}
			}
		}
	})
	export default class MyPosts extends Vue {
		posts!: any[]
		me: boolean = true
		active: boolean = true
		dialog: boolean = false
		displayHelpOffers: string|null = null
		expired: boolean = false

		get hasAnyPosts() {
			if (this.posts) {
				return this.posts.length > 0
			}
			return !!this.posts
		}

		get displayOffers() {
			return this.displayHelpOffers !== null
		}

		get selectedAssistanceOffers() {
			const post = (this.posts || []).find(post => post.id === this.displayHelpOffers)
			return post ? post.assistanceOffers : []
		}

		toggleAssistanceOffers(postId) {
			if (postId === this.displayHelpOffers) {
				this.displayHelpOffers = null
			} else {
				this.displayHelpOffers = postId
			}
		}
	}
</script>

<style lang="sass" scoped>

	.myposts-header
		color: $primary

		.my-card
			min-height: 100px !important
		.create-post-button
			width: 100px !important

		.font-color
			color: $primary

	.notifications-chip-text
		font-size: 1.15rem
		font-weight: bold
</style>
