<template>
	<VLayout class="profile-page" wrap fill-height row>
		<Background xs12 md12 class="background" />
		<VLayout align-center justify-center>
			<VContainer class="white profile-container elevation-3">
				<VLayout wrap row class="mb-5 mt-3">
					<VFlex lg9 md8>
						<h2 class="name" :class="[$vuetify.breakpoint.mdAndUp && 'ml-5 mt-1', [$vuetify.breakpoint.smAndDown && 'text-xs-center']]">
							{{ `${user.profile.firstname} ${user.profile.lastname}` }}
						</h2>
					</VFlex>
					<VFlex v-if="$vuetify.breakpoint.mdAndUp" lg3 md4>
						<VBtn
							@click="updateProfile"
							:loading="savingProfile"
							class="change-profile-button pl-3"
							color="#FFEB3B"
						>
							{{ buttonText }}
						</VBtn>
					</VFlex>
				</VLayout>
				<VLayout
					v-show="!editProfile"
					class="mb-5 mt-3"
					align-center
					:class="[$vuetify.breakpoint.mdAndDown && 'justify-center', [$vuetify.breakpoint.mdAndUp && 'justify-space-between']]"
					wrap
					row
					fill-height
				>
					<VFlex
						md4
						xs12
						sm6
						class="edit-profile-middle-container center-single-item"
						:class="[$vuetify.breakpoint.mdAndDown && 'mb-5']"
					>
						<VAvatar class="mb-5" size="250">
							<VImg :src="selectedImage" alt="Profile Picture" />
						</VAvatar>
					</VFlex>
					<VFlex
						class="edit-profile-middle-container center-single-item"
						:class="[$vuetify.breakpoint.mdAndUp && 'pr-4', $vuetify.breakpoint.mdAndDown && 'mb-3']"
						md4
						xs12
					>
						<h3 class="text-uppercase">
							{{ $t('educational_institution') }}
						</h3>
						<p class="mb-5">
							{{ user.school.name }}
						</p>
						<h3 class="text-uppercase">
							{{ $t('field_of_study') }}
						</h3>
						<p class="mb-5">
							{{ user.fieldOfStudy.name }}
						</p>
						<h3 class="text-uppercase">
							{{ $t('study_year') }}
						</h3>
						<p class="mb-5">
							{{ $t('studyYear.'+ user.profile.currentYear) }}
						</p>
					</VFlex>
					<VFlex class="edit-profile-middle-container center-single-item" md4 xs12>
						<h3 class="text-uppercase">
							{{ $t('skills') }}
						</h3>
						<div>
							<VChip v-for="skill in user.skills" :key="skill.id" color="#F4F4F4" text-color="black">
								{{ skill.tag }}
							</VChip>
						</div>
					</VFlex>
				</VLayout>
				<!-- EDIT PAGE -->
				<VForm class="mb-3" ref="form">
					<VLayout
						v-show="editProfile"
						align-start
						:class="[$vuetify.breakpoint.mdAndDown && 'justify-center', [$vuetify.breakpoint.mdAndUp && 'justify-space-between']]"
						wrap
					>
						<VFlex
							md4
							xs8
							sm6
							class="edit-profile-middle-container center-single-item"
							:class="[$vuetify.breakpoint.mdAndDown && 'mb-5']"
						>
							<VAvatar class="mb-3" size="250">
								<VImg :src="selectedImage" />
							</VAvatar>
							<FilePicker :selected-image.sync="selectedImage" :file.sync="file" />
						</VFlex>
						<VFlex
							class="edit-profile-middle-container"
							:class="[$vuetify.breakpoint.mdAndUp && 'pr-4', $vuetify.breakpoint.mdAndDown && 'mb-3']"
							md4
							xs12
						>
							<h3 class="text-uppercase">
								{{ $t('educational_place') }}
							</h3>
							<VSelect
								v-model="selectedSchool"
								:items="schools"
								:rules="[rules.isRequired]"
								box
								hide-details
								solo
								flat
								class="pt-0 mt-0 mb-3 custom-fields"
								item-text="name"
								item-value="id"
							/>
							<h3 class="text-uppercase">
								{{ $t('field_of_study') }}
							</h3>
							<VSelect
								v-model="selectedFieldOfStudy"
								:items="fieldsOfStudies"
								:rules="[rules.isRequired]"
								item-text="name"
								item-value="id"
								box
								flat
								hide-details
								solo
								class="pt-0 mt-0 mb-3 custom-fields"
							/>
							<h3 class="text-uppercase">
								{{ $t('study_year') }}
							</h3>
							<VSelect
								v-model="selectedYear"
								:items="studyYears"
								:rules="[rules.isRequired]"
								item-text="e"
								item-value="i"
								box
								hide-details
								solo
								flat
								height="10px"
								class="pt-0 mt-0 mb-3 custom-fields"
							/>
						</VFlex>
						<VFlex class="edit-profile-middle-container" md4 xs12>
							<h3 class="text-uppercase">
								{{ $t('professional_skills') }}
							</h3>
							<SkillSelector class="custom-fields" :skill-list.sync="tags" :selected-skills.sync="selectedSkills" />
						</VFlex>
					</VLayout>
					<div v-if="$vuetify.breakpoint.smAndDown" class="text-xs-center mt-4">
						<VBtn
							@click="updateProfile"
							class="change-profile-button"
							color="#FFEB3B"
						>
							{{ buttonText }}
						</VBtn>
					</div>
				</VForm>
			</VContainer>
		</VLayout>
	</VLayout>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import SkillSelector from '@/components/SkillSelector.vue'
	import gql from 'graphql-tag'
	import SideBar from '@/components/SideBar.vue'
	import Background from '../../public/background-profile.svg'
	import { vxm } from '@/store'
	import { StudentYear } from '../../../backend/src/entities/StudentYear'
	import FilePicker from '@/components/FilePicker.vue'
	import { ApiService } from '@/services/api.service'
	import { oc } from 'ts-optchain'
	import { UserModule } from '@/store/modules/user.module'
	@Component({
		layout: 'signedIn',
		components: { FilePicker, SideBar, SkillSelector, Background },
		apollo: {
			schools: {
				query: gql`{
					schools {
						id
						name
					}
				}`,
			},
			tags: {
				query: gql`{ tags(includeDeactivated: false) { id tag } }`
			},
			campuses: {
				query: gql`query($schoolId: String!){
					campuses(schoolId: $schoolId) {
						id
						name
					}
				}`,
				variables() {
					return {
						schoolId: this.selectedSchool
					}
				},
				skip() {
					return this.selectedSchool === ''
				}
			},
			fieldsOfStudies: {
				query: gql`query($schoolId: String!) {
					 fieldsOfStudies(schoolId: $schoolId){
						id
						name
					}
				}`,
				variables() {
					return {
						schoolId: this.user.school.id
					}
				}
			},
		}
	})
	export default class Profile extends Vue {
		$refs!: {
			form: any
		}

		selectedSchool: string = ''
		selectedFieldOfStudy: string = ''
		selectedYear: number = 0
		selectedImage: string = ''
		selectedSkills: string[] = []
		selectedCampuses: string[] = []
		editProfile: boolean = false
		savingProfile = false
		file: any = ''
		rules = {
			isRequired: (value: string) => value !== '' || 'This field is required',
		}

		get studyYears() {
			return Object.values(StudentYear).filter(e => typeof e === 'string')
				.map((e, i) => ({ e: this.$t('studyYear.' + e), i: e }))
		}

		get user() {
			return vxm.user.me
		}

		get buttonText() {
			return this.editProfile ? 'Lagre' : 'Rediger Profil'
		}

		mounted() {
			this.selectedSchool = this.user.school.id
			this.selectedFieldOfStudy = this.user.fieldOfStudy.id
			this.selectedYear = this.user.profile.currentYear
			this.selectedSkills = this.user.skills.map(skill => skill.id)
			this.selectedCampuses = this.user.campuses.map(campus => campus.id)
			this.selectedImage = this.user.profile.imageLink
		}

		async updateProfile() {
			if (this.editProfile) {
				if (this.$refs.form.validate()) {
					this.savingProfile = true
					let filePath
					if (this.file !== '') {
						const formData = new FormData()
						formData.append('file', this.file)
						filePath = await ApiService.customRequest({
							method: 'post',
							url: '/api/v1/upload',
							headers: {
								'Content-Type': 'multipart/form-data'
							},
							data: formData
						})
					}
					await this.$apollo.mutate({
						mutation: gql`mutation updateUser(
								$profileId: ID!,
								$imageLink: String!,
								$currentYear: StudentYear!,
								$fieldOfStudyId: String!,
								$schoolId: String!,
								$campusIds: [String!]!,
								$skillIds: [String!]!){
							updateUser(
								skillIds: $skillIds,
								fieldOfStudyId: $fieldOfStudyId,
								schoolId: $schoolId,
								campusIds: $campusIds,
								profile: {
									id: $profileId,
									currentYear: $currentYear,
									imageLink: $imageLink
									}
							){
								id
							}
						}`,
						variables: {
							profileId: this.user.profile.id,
							currentYear: this.selectedYear,
							imageLink: oc(filePath).data.path(this.user.profile.imageLink),
							skillIds: this.selectedSkills,
							campusIds: this.selectedCampuses,
							schoolId: this.selectedSchool,
							fieldOfStudyId: this.selectedFieldOfStudy
						}
					}).then(async (response: any) => {
						this.savingProfile = false
						this.editProfile = !this.editProfile
						await vxm.user.fetchLoggedInUser()
					})
				}
			} else {
				this.editProfile = !this.editProfile
			}
		}
	}
</script>

<style lang="sass" scoped>
	.background
		position: absolute
		z-index: -1000
		left: 0
		right: 0
		top: 0
		width: 100%
		height: 100%

	.profile-container
		background: white
		border-radius: 10px

	.existing-skills-container
		width: 250px !important

	.name
		font-size: 30px
		color: #00838F

	.background-image
		max-height: 200px
		max-width: 500px
		position: relative
		z-index: 1000

	.profile-page
		max-height: 100vh

	.change-profile-button
		text-transform: uppercase
		margin: 0 auto
		letter-spacing: 0.5px
		font-size: 25px
		height: 50px
		width: 250px
		font-weight: 600
		font-family: Roboto, Bold Condensed, serif

	h3
		font-size: 18px
		color: #00838F

	.center-single-item
		display: flex
		flex-direction: column
		align-items: center

</style>
