<template>
	<div class="main-container">
		<div class="hidden-sm-and-down drawing-container">
			<div class="image-txt-container">
				<p class="image-txt image-txt-subhead font-weight-medium">
					{{ $t('create_contacts') }}
				</p>
				<p class="image-txt display-1 image-txt-heading">
					{{ $t('join_and_create') }}
				</p>
				<VImg :src="require('../assets/students.png')" />
			</div>
		</div>

		<div class="existing-user hidden-sm-and-down">
			<p class="subheading sub-1">
				{{ $t('do_you_have_a_user') }}
			</p>
			<VBtn class="font-weight-bold" color="#ffeb3b" to="/signin">
				{{ $t('log_in') }}
			</VBtn>
		</div>

		<div class="signup-container">
			<div class="content px-3">
				<div class="text-container">
					<p class="display-1 font-weight-bold form-header">
						{{ heading }}
					</p>
					<p class="subheading sub-2">
						{{ subheading }}
					</p>
				</div>
				<VStepper v-model="step" class="elevation-0 transparent">
					<VStepperItems>
						<VStepperContent step="1">
							<UserInformationForm
								ref="userInfo"
								:first-name.sync="firstName"
								:last-name.sync="lastName"
								:email.sync="email"
								:password.sync="password"
								:school-id.sync="schoolId"
							/>
						</VStepperContent>
						<VStepperContent step="2">
							<InterestForm
								ref="interests"
								:school-id.sync="schoolId"
								:field-of-study.sync="fieldOfStudy"
								:study-year.sync="studyYear"
								:skill-list.sync="tags"
								:selected-skills.sync="selectedSkills"
							/>
						</VStepperContent>
						<VStepperContent step="3">
							<ConditionsForm ref="terms" />
						</VStepperContent>
						<VStepperContent step="4">
							<ProfilePictureUploadForm
								:file.sync="file"
							/>
						</VStepperContent>
					</VStepperItems>
				</VStepper>
				<div class="button-container">
					<VBtn
						v-show="!(step === 1 || step === 4)"
						@click="step--"
						color="#DEDEDE"
						class="login-button"
					>
						<span class="white--text">Tilbake</span>
					</VBtn>
					<VBtn
						v-show="step === 4"
						to="/dashboard"
						color="#DEDEDE"
						class="login-button"
					>
						<span class="white--text">Senere</span>
					</VBtn>
					<VBtn
						@click="proceed"
						class="login-button"
						color="#ffeb3b"
					>
						{{ proceedButtonText }}
					</VBtn>
				</div>
			</div>
		</div>
		<VSnackbar
			v-model="error"
			color="error"
			multi-line
			:timeout="12000"
		>
			{{ errorMessage }}
			<VBtn
				dark
				flat
				@click="error= false"
			>
				{{ $t('close') }}
			</VBtn>
		</VSnackbar>
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'
	import UserInformationForm from '../components/forms/UserInformationForm.vue'
	import InterestForm from '../components/forms/InterestForm.vue'
	import ConditionsForm from '../components/forms/ConditionsForm.vue'
	import gql from 'graphql-tag'
	import { UserService } from '@/services/user.service'
	import { vxm } from '@/store'
	import { Translate } from '@/utils/Translate'
	import ProfilePictureUploadForm from '@/components/forms/ProfilePictureUploadForm.vue'
	import { ApiService } from '@/services/api.service'
	import { GraphQLError } from 'graphql'

	@Component({
		components: {
			ProfilePictureUploadForm,
			UserInformationForm,
			InterestForm,
			ConditionsForm
		},
		apollo: {
			tags: {
				query: gql`{ tags(includeDeactivated: false) { id tag } }`
			}
		}
	})
	export default class SignUp extends Vue {
		$refs!: {
			interests: any,
			userInfo: any,
			terms: any
		}

		firstName: string = ''
		lastName: string = ''
		email: string = ''
		password: string = ''
		schoolId: string = ''
		fieldOfStudy: string = ''
		studyYear: string = ''
		selectedSkills: string[] = []
		file: File | null = null

		error = false
		errorMessage = ''
		step: number = 1

		@Translate()
		get heading() {
			switch (this.step) {
				case 1:
				case 2:
				case 4:
					return 'register_on_connect'
				case 3:
					return 'privacy_policy'
			}
		}

		@Translate()
		get subheading() {
			switch (this.step) {
				case 1:
					return 'register_with_email'
				case 2:
					return 'will_be_visible_on_profile'
				case 3:
					return 'information_personal'
				case 4:
					return 'upload_picture_text'
			}
		}

		get proceedButtonText() {
			if (this.step === 4) {
				return this.$t('Upload image')
			}
			return this.step !== 3
				? this.$t('next_step')
				: this.$t('register')
		}

		beforeRouteEnter(to, from, next) {
			if (vxm.auth.loggedIn) {
				next(to.query.redirect as string || '/dashboard')
			}
			next()
		}

		proceed() {
			let valid: boolean = false
			switch (this.step) {
				case 1:
					valid = this.$refs.userInfo.validate()
					break
				case 2:
					valid = this.$refs.interests.validate()
					break
				case 3:
					if (this.$refs.terms.validate()) {
						this.signUp()
					}
					break
				case 4:
					this.uploadProfilePicture()
					break
			}
			if (valid) {
				if (this.step !== 4) this.step++
			}
		}

		async signUp() {
			try {
				let fileLink: string|null = null
				if (this.file !== null) {
					const formData = new FormData()
					formData.append('file', this.file)
					const filePath = await ApiService.customRequest({
						method: 'post',
						url: '/api/v1/upload',
						headers: {
							'Content-Type': 'multipart/form-data'
						},
						data: formData
					})
					fileLink = filePath.data.path
				}

				await this.$apollo.mutate({
					mutation: gql`mutation(
									$firstName: String!,
									$lastName: String!,
									$email: String!,
									$password: String!,
									$schoolId: String!,
									$fieldOfStudy: String!,
									$skills: [String!]!,
									$studyYear: StudentYear!
								) {
						createUser(
							password: $password
							email: $email
							profile: {
								firstname: $firstName
								lastname: $lastName
								currentYear: $studyYear
							}
							schoolId: $schoolId
							fieldOfStudyId: $fieldOfStudy
							skills: $skills
						) {
							id
						}
					}`,
					variables: {
						firstName: this.firstName,
						lastName: this.lastName,
						email: this.email,
						password: this.password,
						schoolId: this.schoolId,
						fieldOfStudy: this.fieldOfStudy,
						skills: this.selectedSkills,
						studyYear: this.studyYear
					}
				})
				await UserService.login(this.email, this.password)
				this.step++
			} catch (result) {
				const error: GraphQLError = result.graphQLErrors[0]
				if (error) {
					this.errorMessage = error.message
					this.error = true
				}
			}
		}

		async uploadProfilePicture() {
			let fileLink: string|null = null
			if (this.file !== null) {
				const formData = new FormData()
				formData.append('file', this.file)
				const filePath = await ApiService.customRequest({
					method: 'post',
					url: '/api/v1/upload',
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					data: formData
				})
				fileLink = filePath.data.path
				await this.$apollo.mutate({
					mutation: gql`mutation updateUser($fileLink: String!){
						updateUser(profile: { imageLink: $fileLink }){
							id
						}
					}`,
					variables: {
						fileLink
					}
				})
				await vxm.user.fetchLoggedInUser()
			}

			this.$router.push('/dashboard')
		}
	}

</script>

<style lang="sass" scoped>

	.main-container
		display: flex
		flex-direction: row
		min-height: 100vh
		font-family: Roboto, sans-serif

		.signup-container
			width: 50%
			align-self: center

		.content
			max-width: 550px
			margin: 0 auto

		.drawing-container
			width: 50vw
			height: 100vh
			overflow: hidden
			background-image: url("../assets/bg.png")
			background-size: cover

		.existing-user
			position: absolute
			right: 0
			padding: 10px
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: baseline

		.text-container
			min-width: 50%
			margin: 0 auto
			text-align: center

		.display-1
			font-weight: bold
			color: $primary

		.sub-1
			margin-right: 10px
			font-weight: 600

		.sub-2
			margin: 0 auto 16px
			max-width: 460px
			color: #808080

		.button-container
			display: flex
			justify-content: space-between
			flex-direction: row

		.login-button
			text-transform: uppercase
			margin: 0 auto
			letter-spacing: 0.5px
			font-size: 1.8rem
			height: 57px
			min-width: 190px !important
			max-width: 200px !important
			font-weight: 600
			font-family: Roboto, Bold Condensed, serif

		.button-small
			background-color: #DEDEDE !important
			width: 190px !important

		.image-left
			width: 100%
			height: auto

		.image-txt-container
			margin-top: 7rem

		.image-txt
			text-align: center

		.image-txt-subhead
			color: $accent
			font-size: 1.5em
			text-transform: uppercase

		.image-txt-heading
			color: #FFFFFF
			padding: 0 7rem
			margin-bottom: 3rem
		/* Vuetify Modifications */

		.v-stepper__content
			padding: 0 !important

		.v-btn__content
			font-size: 60px !important

		.form-header
			color: $secondary

		/* Specific for iPad pro */
		@media screen and (max-width: 1024px)
			.drawing-container
				display: none
			.signup-container
				width: 100%
			.mobile-nav
				display: block
			.login-button
				width: 80%
				margin: 0 auto
				font-weight: bold
			.existing-user
				display: none
			.privacy-policy-container
				overflow-y: auto

		@media screen and (max-height: 750px)
			.text-container
				margin-top: 5vh
			.button-container
				margin-top: 10px

		/* Breakpoint for md Vuetify */
		@media screen and (max-width: 959px)
			.drawing-container
				display: none
			.signup-container
				width: 100%
			.mobile-nav
				display: block
			.login-button
				width: 80%
				margin: 0 auto
				font-weight: bold

		/* 5 Pixels margin for biggest phone on the market */
		@media screen and (max-width: 445px)
			.display-1
				font-size: 25px !important
				font-weight: 500 !important
			.sub-2
				width: 80%
				margin: 20px auto
			.content
				.input-area
					max-width: 350px

		@media screen and (max-width: 321px)
			.content
				max-width: 300px

</style>
