<template>
	<div class="main-container">
		<div class="hidden-sm-and-down drawing-container">
			<div class="image-txt-container">
				<p class="image-txt image-txt-subhead font-weight-medium">
					{{ $t('create_contacts') }}
				</p>
				<p class="image-txt display-1 image-txt-heading">
					{{ $t('join_and_create') }}
				</p>
				<VImg :src="require('../assets/students.png')" />
			</div>
		</div>
		<div class="signin-container">
			<div class="existing-user hidden-sm-and-down">
				<p class="subheading-text-user">
					{{ $t('dont_have_user') }}
				</p>
				<VBtn to="/signup" class="font-weight-bold black--text ml-4" color="secondary register-button">
					{{ $t('register_yourself') }}
				</VBtn>
			</div>

			<div class="content">
				<Logo :white="false" class="logo" />
				<VContainer>
					<VLayout row wrap>
						<VFlex xs12>
							<VTextField
								name="email"
								v-model="email"
								prepend-inner-icon="far fa-user"
								width="600px"
								:label="$t('email')"
								background-color="sign-in-email"
								box
								color="#4DAEBB"
							/>
							<VTextField
								name="password"
								v-model="password"
								:type="showPassword ? 'text' : 'password'"
								:append-icon="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
								@click:append="showPassword = !showPassword"
								@keydown.enter="login"
								color="#4DAEBB"
								prepend-inner-icon="fas fa-key"
								:label="$t('password')"
								background-color="sign-in-password"
								box
							/>
						</VFlex>
					</VLayout>
				</VContainer>
				<VBtn
					@click="login"
					class="login-button"
					color="#000000"
					block
					flat
				>
					{{ $t('log_in') }}
				</VBtn>
				<span class="error--text">{{ errorMsg }}</span>
				<RouterLink to="/forgot-password" class="forgotten-password">
					{{ $t('forgot_password') }}
				</RouterLink>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
	import Logo from '@/components/Logo.vue'
	import { Component, Vue } from 'vue-property-decorator'

	import { vxm } from '@/store'
	@Component({
		layout: 'default',
		components: {
			Logo,
		},
	})
	export default class SignIn extends Vue {
		showPassword = false
		password = ''
		email = ''
		errorMsg:any = ''

		beforeRouteEnter(to, from, next) {
			if (vxm.auth.loggedIn) {
				next(to.query.redirect as string || '/dashboard')
			}
			next()
		}

		async login() {
			const result = await vxm.auth.login({ email: this.email, password: this.password })

			if (!result) {
				this.errorMsg = this.$t('rules.validate.invalid_credentials')
				return
			}

			this.$router.push(this.$route.query.redirect as string || '/dashboard')
		}
		forgottenPassword() {
			// TODO: Do something forgotten password related here
		}
	}
</script>

<style scoped lang="sass">
	.main-container
		display: flex
		flex-direction: row
		min-height: 100vh
		font-family: Roboto, sans-serif

		.drawing-container
			width: 50vw
			height: 100vh
			overflow: hidden
			background-image: url("../assets/bg.png")
			background-size: cover

		.image-left
			width: 100%
			height: auto

		.image-txt-container
			margin-top: 7rem

		.image-txt
			text-align: center

		.image-txt-subhead
			color: $accent
			font-size: 1.5em
			text-transform: uppercase

		.image-txt-heading
			color: #FFFFFF
			padding: 0 7rem
			margin-bottom: 3rem

		.signin-container
			background: white
			width: 50%

		.content
			position: relative
			top: 45%
			max-width: 550px
			margin: 0 auto
			transform: translateY(-50%)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

		.login-button
			letter-spacing: 0.5px
			font-size: 1.8rem
			min-height: 57px
			width: 246px
			font-weight: 600
			font-family: Roboto, Bold Condensed,serif
			background: #FFEB3B
			color: white
			box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2)
		.register-button
			box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2)
			border-radius: 4px
			min-width: 121px
			height: 28px
		.subheading-text-user
			font-size: 12px
			font-family: Roboto, Bold Condensed,serif
			font-weight: bold
		.existing-user
			padding: 10px
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: baseline

		.sub-1
			margin-right: 10px
			font-weight: 600

		.forgotten-password
			margin-top: 24px
			color: black
			text-decoration: none
			font-family: Roboto, sans-serif
			font-weight: 500
			text-align: center
			letter-spacing: 0.8px
			&:hover
				cursor: pointer
				text-decoration: underline

		.logo
			height: 9vh
			margin-bottom: 5vh

		/* Specific for iPad pro */
		@media screen and (max-width: 1024px)
			.drawing-container
				display: none
			.signin-container
				width: 100%
			.mobile-nav
				display: block
			.login-button
				width: 80%
				margin: 0 auto
				font-weight: bold
			.existing-user
				display: none
			.login-button
				margin-bottom: 25px

		/* Breakpoint for md Vuetify */
		@media screen and (max-width: $breakpoints-md)
			.drawing-container
				display: none
			.signin-container
				width: 100%
			.mobile-nav
				display: block
			.login-button
				width: 80%
				margin: 0 auto 25px
				font-weight: bold

		/* 5 Pixels margin for biggest phone on the market */
		@media screen and (max-width: 445px)
			.display-1
				font-size: 25px !important
				font-weight: 500 !important
			.sub-2
				width: 80%
				margin: 20px auto
			.content
				max-width: 350px

		@media screen and (max-width: 321px)
			.content
				max-width: 300px

</style>
